!!!
%html
  %head
    %link{:rel=>"shortcut icon", :href=>"#{application_url}favicon.ico"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}

    %title= page_title
    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}
  
    = render :partial => "shared/scripts_and_styles"
    - if @rss_title && @rss_url
      = auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title})
    %script{:src => "http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"}
    :javascript
      WebFont.load({
        google: {
          families: ['Cantarell:bold']
        }
      });
    
  %body
    #doc2{:class => "yui-t#{@sidebar_left ? 3 : 6}"}
      
      = render 'shared/header'
      .content      
        #bd
          = render :partial => "shared/messages"
                    
          = @content_for_layout
                              
      #ft
        -if show_footer_content?    
          .yui-gc#footer_content
            = image_tag 'spinner.gif', :plugin => 'community_engine'
            =:loading_recent_content.l       

          %script{:type=>"text/javascript"}
            = remote_function(:update => "footer_content", :url => { :controller => 'base', :action => 'footer_content' })

      #CommunityFooter
        %ul
          %li
            %a{:href=>application_url, :title=>"#{AppConfig.community_name} " + :home.l}= :home.l
          - if !logged_in?
            %li
              = link_to :log_in.l , login_path 
          - else
            %li
              %a{:href=>logout_url, :title=>:log_out_of_your.l + " #{AppConfig.community_name} " + :account.l}
                =:log_out.l

          - Page.find(:all).each do |page|
            - if (logged_in? || page.page_public)
              %li= link_to page.title, pages_path(page) 
              
          - if @rss_title && @rss_url
            %li#rss= link_to :rss.l, @rss_url, {:title => @rss_title}

        %p
          = :community_tagline.l
        
      
                  
      = render '/shared/sponsors'
      