<% content_for :head do %>
  <%= javascript_include_tag 'autoresize.jquery', 'jquery.validate.min' %>
  
  <script>
  jQuery(document).ready(function(){
    jQuery.noConflict()
    jQuery("#referal_form").validate({ 
          rules: { 
            referal_name: {
							required: true,
							minlength: 4
						              }, 
            referal_you_name: {
              required: true,
              minlength: 4
                          },
						referal_you_email: {
							      required: true,
										email: true
						                   },
						referal_email: {// compound rule 
				            required: true, 
				            email: true 
                   }, 
          
                  }, 
          messages: { 
            referal_name: "Please enter the recepient's name." ,
            referal_email: "Please sepcify a valid recepient email address.",
						referal_you_email: "Please sepcify your valid email address.",
						referal_you_name: "Please sepcify your name."
                    } 
        }); 
  });
  </script>
<% end %>

<h1>Course Referal</h1>
<p>Please use this form to bring the <strong>"<%= APP_CONFIG['course_motto']%>"</strong> 
course to the attention of others. Feel free to send a recommendation to as many recepients as you like. </p>
<% form_for @referal, :html => {:id => 'referal_form'} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :you_name, "Your Name:" %><% unless logged_in? %><span class="red">*</span><% end %><br />
    <% if logged_in? %>
	   <strong><%= f.label :you_name, "#{current_user.first_name} #{current_user.last_name}" %></strong>
	   <%= f.hidden_field :you_name, :value => "#{current_user.first_name} #{current_user.last_name}" %>
	<% else %>
	   <%= f.text_field :you_name, :name => 'referal_you_name' %>
	<% end %>
  </p>
   <p>
    <%= f.label :you_email, "Your Email Address:" %><% unless logged_in? %><span class="red">*</span><% end %><br />
    <% if logged_in? %>
       <strong><%= f.label :you_email, current_user.email %></strong>
	   <%= f.hidden_field :you_email, :value => "#{current_user.email}" %>
    <% else %>
       <%= f.text_field :you_email, :name => 'referal_you_email' %>
    <% end %>
  </p>
  <p><br /></p>
   <p>
    <%= f.label :name, "Recepient's Name:" %><span class="red">*</span><br />
    <%= f.text_field :name, :name => 'referal_name' %>
  </p>
  <p>
    <%= f.label :email, "Recepient's Email Address:" %><span class="red">*</span><br />
    <%= f.text_field :email, :name => 'referal_email' %>
  </p>
  <p>
    <%= f.label :comment, "Message for the Recipient:" %><br />
    <%= f.text_area :comment, :size => '50', :rows => "20", :id => 'resizeDemo'  %>
  </p>
  <p><span class="red">*</span> mandatory fields</p>
  <p><%= f.submit "Submit" %></p>
<% end %>
<script type="text/javascript">
  (function(a){a.fn.autoResize=function(j){var b=a.extend({onResize:function(){},animate:true,animateDuration:150,animateCallback:function(){},extraSpace:20,limit:1000},j);this.filter('textarea').each(function(){var c=a(this).css({resize:'none','overflow-y':'hidden'}),k=c.height(),f=(function(){var l=['height','width','lineHeight','textDecoration','letterSpacing'],h={};a.each(l,function(d,e){h[e]=c.css(e)});return c.clone().removeAttr('id').removeAttr('name').css({position:'absolute',top:0,left:-9999}).css(h).insertBefore(c)})(),i=null,g=function(){f.height(0).val(a(this).val()).scrollTop(10000);var d=Math.max(f.scrollTop(),k)+b.extraSpace,e=a(this).add(f);if(i===d){return}i=d;if(d>=b.limit){a(this).css('overflow-y','');return}b.onResize.call(this);b.animate&&c.css('display')==='block'?e.stop().animate({height:d},b.animateDuration,b.animateCallback):e.height(d)};c.unbind('.dynSiz').bind('keyup.dynSiz',g).bind('keydown.dynSiz',g).bind('change.dynSiz',g)});return this}})(jQuery);$('textarea#resizeDemo').autoResize();/*]]>*/
</script>

