<html>
<head>
<style>
#header{
	margin-bottom:10px;
}
#content{
	width:780px;
	padding:10px;
}
#footer img{
	padding-right:35px;
}
body {
	font-family: Arial, Helvetica, sans-serif, "DejaVu Sans";
	font-size: 1.02em;
	font-weight: normal;
	color: #191919;
}
h2{
	font-family: Arial, Helvetica, sans-serif, "DejaVu Sans";
	font-size: 1.4em;
	font-weight: bold;
}
</style>	
</head>

<body>
<div id="header">
  <img src="http://microscopy.synbio.scientific-solution.com/images/header_email_2013.jpg" alt="header image" />
</div>
<div id="content">

Dear <%= @user.first_name.titleize %>,

<p>It is our pleasure to inform you that you have been selected to
participate in the EMBO practical course in imaging and microscopy
entitled <b><%= APP_CONFIG['title_long'] %> <%= APP_CONFIG['subtitle']
%></b>.<br />
The selection process was far from easy since the course was heavily
over-subscribed, So congratulations!</p>

<p>We have arranged for accommodation on the CSIR-Pretoria campus for all
course participants and lecturers in the practical course. Most meals
will be on campus and some excursions are planned during the course.
The campus has sports and recreational facilities and is a secure
facility.</p>

<p>Please begin
arranging your travel to CSIR-Pretoria as soon as possible and let us
know whether you require help with this. We will give you detailed
instructions on how to transfer from OR-Tambo International airport to
the CSIR campus.  Please let us
know the exact time of your arrival as soon as possible. We suggest
arriving a day before the course begins. To assist us in planning and
allow candidates on the waiting list into the course, <strong>please respond
to this email by <%= APP_CONFIG['acceptance_deadline'] %></strong>,
informing us of whether or not you still plan to attend.  When you
send us this confirmation, we will send you instructions on how to pay
the registration fee. If you have requested a waiver for the
application fee, we will notify you of whether it has been accepted at
that time. Please let us know if you would benefit from on campus
childcare facilities during the course.

We will also email you a detailed
program for the course in the coming weeks.</p>

<p>We expect all participants to make a short (10 minute) presentation of
their work and how they will benefit from participating in the course.
This presentation should be in PowerPoint format and have a question &
answer session. Multiple computers with fast internet connection will
be available throughout the course. Nevertheless, if you have a laptop
computer you should bring it.</p>

<p>Also please bring along an abstract of a paper or conference poster
that you have written and your favorite imaging paper which will be
discussed during the course.</p>

<p>With your confirmation of attendance of the course, a new part of the
website will be made available to you, at the beginning of September. For
this course we maintained an new idea from previous workshops that we
hope will help to build a community of scientists working and interested in microscopy in all
different parts of the world. We have developed a social networking
website, around microscopy, which will link you to all participants in
this course and future courses. You will be able to share your images
and data, see other people who have been accepted to the course this
year, and interact with them and the course instructors. Last years
student used this to organize a safari prior to the course, which they
all much enjoyed and we would encourage you to do the same. You will
also be able to remain in touch with the course instructors beyond the
timeline of this course and use it as a way of seeking advice and even
starting collaborations. We will also develop a repository of
techniques, protocols, reagents and approaches that members of the
community can exchange and be called upon to offer. We see this as a
good way to catalyze interest and exchanges between microscopists in
Africa and beyond.</p>

<p>Your login information and password will be used to access the social
networking section of the website. You will receive further
instructions under separate email as to how to use the website which
functions similarly to FaceBook, YouTube and Google+, all sites which
we are sure most of you are familiar with.</p>

<p>We very much look forward to your participation in the course and we
look forward to hearing from you very soon. We are very excited about
the course and are anxious to make it a success.</p>


<p>Regards<br />
The Course Organizers</p>

</div>
<div id="footer">
<img src="http://microscopy.synbio.scientific-solution.com/images/2013_email_footer_lg.jpg" alt="sponsor logos">
</div>

</body>
</html>




