<html>
	<head>
		<style>
			#header{
			    margin-bottom:10px;
			}
			#content{
			    width:780px;
			    padding:10px;
			}
			#content .box {
			    border: 1px solid #cccccc;
			    margin-top:10px;
			    margin-bottom:10px;
			    padding:5px;
			}
			#footer img{
			    padding-right:35px;
			}
			body {
			    font-family: Arial, Helvetica, sans-serif, "DejaVu Sans";
			    font-size: 1em;
			    font-weight: normal;
			    color: #191919;
			}
			h2{
			    font-family: Arial, Helvetica, sans-serif, "DejaVu Sans";
			    font-size: 1.4em;
			    font-weight: bold;
			}
	    </style>    
	</head>

<body>
<div id="header">
  <img src="http://microscopy.synbio.scientific-solution.com/images/header_email_2013.jpg" alt="header image" />
</div>
<div id="content">
	<h1>Course Recommendation</h1>
	<p>
	<strong><%= @referal.you_name %></strong> (<strong><%= @referal.you_email %></strong>) left you the following note:
	
	<p class="box"><%= h(@referal.comment) %></p>
	<p>and would like to inform you about the following upcoming practical course at CSIR, South Africa:</p>
	
	<h2>"Microscopy: from genome scale to the single molecule"</h2>
	
	
	<p>The <a href="http://www.csir.co.za" target="_blank">CSIR-Synthetic Biology Emerging Research Area </a>
	    with the support of the <a href="http://www.embo.org" target="_blank">European Molecular Biology Organisation (EMBO)</a>
	    are hosting a practical course entitled: <strong>“Microscopy: from genome scale to the single molecule”</strong>.</p>
	
	    <p>This course will be aimed at advanced Ph.D. students and post-docs who would like to learn new and emerging techniques in high throughput biology and light microscopy, especially as they can be applied to cell biology and infection.
	    </p>
	    <p>The major objective of this practical course is to introduce high throughput microscopy and imaging technologies to identify key genes involved in infection. Ideally this will take the participant from screening a gene family (via siRNA) and narrowing this down to a handful of genes. Special attention will be paid to how cell based assays are developed to first identify the phenomenon, and then used to give robust and unambiguous results when screened. Once the gene family screen is performed, a few candidates will be selected that are then validated in cell-based assays. These will use scanning confocal, nipkow disk confocal and super-resolution methods. Thus going from genome-scale to the single molecule.
	    </p>
	<p>Some basic requirements of the course are a background in any of the following: biology, molecular or cell biology, biochemistry, genetics, developmental biology, microbiology, biophysics or other related areas. Prior exposure to imaging and microscopy will be essential. Preference will be given to students who have an immediate use for the techniques covered in the course in their own research at their home institutions.</p>
	
	<p>Participation in the course is limited to 16 students and is by competitive selection. 1 or 2 travel scholarships will be available to accepted applicants. Inquiries should be sent by interested applicants once they are accepted.</p>
	
	<p>To learn more about this course, review the list of speakers, learn about the program, and to register for the course online, please visit our website at:</p>
	<p><a href="http://microscopy.synbio.csir.co.za">http://microscopy.synbio.csir.co.za</a></p>
	
	<p></p>
	<p><strong>Course Organizers:</strong><br />
	Musa Mhlanga, Jost Enninga, Freddy Frischknecht
	</p>

</div>
<div id="footer">
<img src="http://microscopy.synbio.scientific-solution.com/images/2013_email_footer_lg.jpg" alt="sponsor logos">
</div>

</body>
</html>




