<html>
<head>
<style>
#header{
	margin-bottom:10px;
}
#content{
	width:780px;
	padding:10px;
}
#footer img{
	padding-right:35px;
}
body {
	font-family: Arial, Helvetica, sans-serif, "DejaVu Sans";
	font-size: 1.2em;
	font-weight: normal;
	color: #191919;
}
h2{
	font-family: Arial, Helvetica, sans-serif, "DejaVu Sans";
	font-size: 1.4em;
	font-weight: bold;
}
</style>	
</head>

<body>
<div id="header">
  <img src="http://innovative-microscopy.scientific-solution.com/images/header_email_2013.jpg" alt="header image" />
</div>
<div id="content">
<h2><u>Confirmation of Registration:</u></h2>
<p>You have been granted access to the social network of the µBOOK Site at </p>

<%= link_to 'APP_CONF['APP_URL']', APP_CONF['APP_URL'] %>

<p>You have been registered with the following credentials:</p>

<ul>
    <li>Username: <strong><%= @user.login %></strong></li>
    <li>Password: <strong><%= @user.password %></strong></li>
</ul>
<p>The Course Organisers</p>
</div>
<div id="footer">
<img src="http://innovative-microscopy.scientific-solution.com/images/2013_email_footer_lg.jpg" alt="sponsor logos">
</div>

</body>
</html>




