<html>
<head>
  <style>
      #header {
          margin-bottom: 10px;
      }

      #content {
          width: 780px;
          padding: 10px;
      }

      #footer img {
          padding-right: 35px;
      }

      body {
          font-family: Arial, Helvetica, sans-serif, "DejaVu Sans";
          font-size: 1.2em;
          font-weight: normal;
          color: #191919;
      }

      h2 {
          font-family: Arial, Helvetica, sans-serif, "DejaVu Sans";
          font-size: 1.4em;
          font-weight: bold;
      }
  </style>
</head>

<body>
<div id="header">
  <img src="http://microscopy.synbio.scientific-solution.com/images/header_email_2013.jpg" alt="header image"/>
</div>
<div id="content">
  <h2><u>Confirmation of Registration:</u></h2>

  <p>Thank you for registering for <strong><%= APP_CONFIG['title_long'] %> <%= APP_CONFIG['subtitle'] %></strong>

    practical course organized by:</p>

  <p><strong>CSIR-Synthetic Biology, Emerging Research Area, Pretoria South Africa &
    European Molecular Biology Organisation (EMBO). </strong></p>

  <p>The course will take place at CSIR-Pretoria, South Africa from <%= APP_CONFIG['course_date_range'] %>.</p>


  <p>You have been registered with the following credentials:</p>

  <ul>
    <li>Username: <strong><%= @user.login %></strong></li>
    <li>Password: <strong><%= @user.password %></strong></li>
  </ul>

  <p>Your course registration number is: <strong><%= @user.id %></strong></p>

  <p><strong>Please Note:</strong> Your account for the website will be deactivated
    until you have been accepted for the course.</p>

  <p>
    Please provide this course registration number to those people whom you have selected to provide
    letters of recommendation. <i>They must quote your name and this number
    in the letters they provide on your behalf.</i>
  </p>

  <p>
    Participation in the course is limited to <%= APP_CONFIG['number_of_students'] %> students and is
    by competitive selection. <br/>
    Registration fee is <strong>€ 250 (€ 1000 for participants from industry)</strong> but can be waved for students
    from
    resource poor institutions. In addition one or two travel scholarships will be available to accepted
    applicants. Inquiries for waivers and scholarships should be sent by interested applicants once they are
    accepted.</p>


  <p>
    Selection will be conducted by the course organizing committee.
    It will be based on academic background, letters of recommendation
    and your self-described experience with light microscopy, high-throughput screening and especially its

    relevance to your current research.</p>

  <p><strong>Closing Date for Applications is <%= APP_CONFIG['application_end_formatted'] %>.</strong></p>

  <p>
    All applicants will be notified of the outcome of the selection procedure
    within one week of the deadline.</p>

</div>
<div id="footer">
  <img src="http://microscopy.synbio.scientific-solution.com/images/2013_email_footer_lg.jpg" alt="sponsor logos">
</div>

</body>
</html>




