<html>
<head>
<style>
#header{
	margin-bottom:10px;
}
#content{
	width:780px;
	padding:10px;
}
#footer img{
	padding-right:35px;
}
body {
	font-family: Arial, Helvetica, sans-serif, "DejaVu Sans";
	font-size: 1em;
	font-weight: normal;
	color: #191919;
}
h2{
	font-family: Arial, Helvetica, sans-serif, "DejaVu Sans";
	font-size: 1.4em;
	font-weight: bold;
}
</style>	
</head>

<body>
<div id="header">
  <img src="http://microscopy.synbio.scientific-solution.com/images/header_email_2013.jpg" alt="header image" />
</div>
<div id="content">

Dear <%= @user.first_name %>,

<p>Thank you for your application to participate EMBO practical course in imaging and 
microscopy entitled <strong><%= APP_CONFIG['title_long'] %> <%= APP_CONFIG['subtitle'] %>.</strong> 
We regret to inform you that you were not selected to participate in the course. The course was 
quite heavily oversubscribed and the selection process was difficult. We were unable 
to accept many very highly qualified candidates. There were several applications for 
each of the openings we had, indicating to us the need to have more courses of this 
type. We plan to have this course next year, also under the auspices of EMBO, 
therefore, please consider re-applying next year. Please check our website periodically 
for updates on courses that we may organize in the future.</p>

<p>Thank you for your interest in the practical course and we wish you the best of 
luck in your research.</p>

<p>Best regards,<br />
The Course Organizers</p>

</div>
<div id="footer">
<img src="http://microscopy.synbio.scientific-solution.com/images/2013_email_footer_lg.jpg" alt="sponsor logos">
</div>

</body>
</html>




