@import "compass/css3"
@import "compass/utilities"
@import ../variables.sass
@import ../dropshadow.sass
@import ../sponsors.sass
@import ../webfont.sass

/*========================================================
/* COLOR GUIDE
/*========================================================
/*
 *dark grey #464337
 *light grey #a2a19b
 *
 *blue link #06f
 *
 *h3 yellow border #ffd735
 *
 *alt blue light #e1ecff
 *
 *alt blue dark #94beff
 *
 *=========================================================

/*========================================================
/*    Cascading Style Sheet for the Community Engine
/*========================================================

/*========================================================
/*                  Table of Contents
/*========================================================
/*  1. UNIVERSAL THINGS
/*  2. HEADER
/*  3. WELCOME
/*  4. BOX and ALTBOX
/*  5. BODY
/*  6. SIDEBAR
/*  7. FOOTER
/*  8. COMMUNITY FOOTER
/*  9. CLEARFIX
/*  10. SORTABLES
/*  11. PAGINTATION
/*  12. CLIPPINGS
/*  13. TAG CLOUDS
/*  14. USER LIST
/*========================================================

span.localized
  font-style: italic
  color: red

/* ===============================================
/* 1. UNIVERSAL THINGS
/* ===============================================

html
  //background: url(/images/page_background.png) repeat-x
  background:  $page_background_color
  color: #333

body
  margin-top: 10px
  padding: 0 5px 10px
  font-family: "Signika Negative", Arial, Helvetica, sans-serif
  font-size: 15px

h1, h2, h3, h4, h5, h6
  color: $header_color
  font-weight: bold

#doc2
  color: #464337
  background: #fff
  width: 970px
  @include border-top-left-radius($border_radius)
  @include border-top-right-radius($border_radius)

.content
  float: left
  background: #fff
  width: 948px
  border-left: 1px solid #d1d6dc
  border-right: 1px solid #d1d6dc
  padding: 10px
  min-height: 400px

.contentleft
  float: left
  display: inline
  width: 700px
  overflow: hidden
  margin: 0 10px 0 9px

.contentright
  float: left
  display: inline
  width: 240px
  overflow: hidden
  margin: 0 9px 0 0

.box680in
  background: #fff
  float: left
  padding: 15px 10px
  width: 680px

a
  color: $link_color
  &:hover
    color: darken($link_color, 10%)
    text-decoration: underline

p
  margin: 0 0 1em 0

div.auto_complete
  width: 350px
  background: #ffffff
  ul
    border: 1px solid #888888
    list-style-type: none
    margin: 0
    padding: 0
    width: auto
    li
      margin: 0
      padding: 3px
      &.selected
        background-color: #FFFDC0

.clear
  clear: both

.right
  float: right

.left
  float: left

.centered
  text-align: center

img
  &.polaroid
    padding: 5px
    border: 1px solid #A2A19B
    width: 100px
    height: 100px
  &.polaroid_large
    padding: 5px
    border: 1px solid #A2A19B

/* ===============================================
/* 2. HEADER
/* ===============================================

#hd
  background: #46566f url(../../images/header_background_2013.png) no-repeat top left
  float: left
  width: 100%
  min-height: 155px
  padding: 0
  border: none
  @include border-top-left-radius($border_radius)
  @include border-top-right-radius($border_radius)
  a
    text-decoration: none
    &:hover
      text-decoration: underline
  h1
    float: left
    a
      font-size: 182%
      font-weight: bold
      text-transform: uppercase
      text-decoration: none
      display: block
      margin: 20px 0 10px 0
      color: #464337
      &:hover
        text-decoration: underline
  h2
    float: right
    font-size: 138.5%
    margin-top: 25px
    &#newmail
      float: right
      padding-left: 20px
      margin-right: 20px
      background-color: transparent
      background-image: url(/plugin_assets/community_engine/images/icons/email_open.png)
      background-repeat: no-repeat
      background-position: left center

/* Navbar

#nav
  float: left
  margin-top: 126px
  width: 950px
  margin-left: 5px
  background: transparent

/* ===============================================
/* 3. WELCOME
/* ===============================================

#welcome
  .box
    background: #fff1b2
    margin-top: 1em
    padding: 1em
    border-bottom: 2px solid #ffd735
    border-top: 1px solid #ffd735
    h2
      font-size: 197%
      margin-bottom: .5em
      a
        color: #464337
    p
      font-size: 108%
    h4
      background: url(/plugin_assets/community_engine/images/bg_h6btn.gif) repeat-x left center
      a
        background-color: transparent
        background-image: url(/plugin_assets/community_engine/images/icons/52.png)
        background-repeat: no-repeat
        background-position: .5em center
        display: block
        padding: 1em 1em 1em 3.5em
        font-size: 138.5%
        text-decoration: none
        text-transform: uppercase
        color: #384016
        font-weight: bold
        border: 1px solid #9ec500
  .first .box h4 a
    background-image: url(/plugin_assets/community_engine/images/icons/31.png)
  .box h4 a:hover
    background-color: #9ec500

/* ===============================================
/* 4. BOX and ALTBOX
/* ===============================================

.box
  margin-bottom: 1em
  h2
    margin-bottom: .5em
    font-weight: bold
    font-size: 153.9%
  h3
    font-size: 123.1%
    font-weight: bold
    text-transform: none
    border-bottom: 1px solid rgba($link_color, 0.3)
    color: $header_color
    margin: 1.5em 0 1em 0

.alt
  border: 1px solid rgba($link_color, 0.1)
  background: none
  padding: 1em
  @include border-radius(3px)
  h3
    border: none
    margin: 0 0 .5em 0
    padding: .5em
    color: $header_color
    border-bottom: 1px solid rgba($link_color, 0.3)

.first_alt
  margin-top: 3.25em

/* ===============================================
/* 5. BODY
/* ===============================================

/* blog entry

.hentry
  margin: 0 0 1em 0

.comments .hentry
  border-bottom: 1px dotted #a2a19b
  &:last-child
    border: none

.hentry
  h4
    font-size: 153.9%
    font-weight: bold
    margin-bottom: 15px
    a
      text-decoration: none
      color: #464337
      &:hover
        text-decoration: underline
  .vcard
    float: left
    width: 13.8461em
    /* about 180px
    *width: 13.5em
    /* for IE

div.main div.vcard
  width: 9.2307em
  /* about 120px
  *width: 9em
  /* for IE

.entry-content
  margin-left: 15.3846em
  /* about 200px
  *margin-left: 15em
  /* for IE

div.main div.entry-content
  margin-left: 10.4769em
  /* about 140px
  *margin-left: 10.5em
  /* for IE

.page-content, .event-content
  margin-left: 0px
  /* Use formatting for blog post except for left margin

.hentry .vcard
  h5
    float: left
    width: 66px
    a
      img
        display: block
        border: 1px solid #a2a19b
        padding: 2px
        background: #fff
      &:hover img
        background: #a2a19b
  ul
    margin-left: 66px
    font-size: 85%

div.main .vcard ul
  margin-left: 0

.hentry .vcard ul li
  padding: 3px 0
  border-bottom: 1px dotted #a2a19b
  padding-left: 20px
  background-color: transparent
  background-position: left 3px
  background-repeat: no-repeat
  &.fn
    font-size: 130%
    font-weight: bold
    padding: 0 0 3px 0
  &.update
    background-image: url(/plugin_assets/community_engine/images/icons/date.png)
  &.view
    background-image: url(/plugin_assets/community_engine/images/icons/page_white_magnify.png)
  &.comments
    background-image: url(/plugin_assets/community_engine/images/icons/comments.png)
  &.msg
    background-image: url(/plugin_assets/community_engine/images/icons/email_go.png)
  &.addfriend
    background-image: url(/plugin_assets/community_engine/images/icons/user_add.png)
  &.print
    background-image: url(/plugin_assets/community_engine/images/icons/printer.png)
  &.email
    background-image: url(/plugin_assets/community_engine/images/icons/user_go.png)
  &.share
    /*	background-image: url(/plugin_assets/community_engine/images/icons/group_go.png)
    padding-left: 0
  &.tags
    background-image: url(/plugin_assets/community_engine/images/icons/tag_blue.png)
  &.skills
    background-image: url(/plugin_assets/community_engine/images/icons/wrench.png)
  &.geo
    background-image: url(/plugin_assets/community_engine/images/icons/world.png)
  &.edit
    background-image: url(/plugin_assets/community_engine/images/icons/post.png)
  &.delete
    background-image: url(/plugin_assets/community_engine/images/icons/delete.png)

.entry-content
  h6
    border-bottom: 1px dotted #a2a19b
    border-top: 1px dotted #a2a19b
    text-align: right
    padding: 2px 0
    a
      font-size: 85%
      font-weight: bold
      text-transform: uppercase
      text-decoration: none
      background: transparent url(/plugin_assets/community_engine/images/icons/add.png) no-repeat left center
      padding-left: 20px
      padding: 2px 2px 2px 20px
      &:hover
        text-decoration: underline
  blockquote, ul
    margin: 1em
  ol
    margin: 1em
    margin-left: 2em
  ul
    margin-left: 2em
  ol li
    list-style: decimal outside
  ul li
    list-style: disc outside
  strong
    font-weight: bold
  em
    font-style: italic
  blockquote
    font-style: italic
    font-family: Georgia, Times, serif

/* brings back styles for entry elements

.hentry .tags
  margin-left: 0
  li
    list-style: none
    float: left
    a
      background: red
      display: block
      margin: 0 10px 5px 0
      padding: 2px 0 2px 15px
      background: url(/plugin_assets/community_engine/images/icons/tag_blue.png) no-repeat left center

/* ===============================================
/* 6. SIDEBAR
/* ===============================================

.list li
  padding: 3px 0
  border-bottom: 1px dotted #a2a19b

.checks li, .page li
  padding-left: 20px
  background-color: transparent
  background-image: url(/plugin_assets/community_engine/images/icons/accept.png)
  background-repeat: no-repeat
  background-position: left center

.checks li
  background-image: url(/plugin_assets/community_engine/images/icons/accept.png)

.page li
  background-image: url(/plugin_assets/community_engine/images/icons/page_white.png)

/* user list

dl.vcard
  margin-bottom: 1em
  dt.photo
    float: left
    width: 66px
    margin: 0
    a
      img
        display: block
        padding: 2px
        border: 1px solid #a2a19b
        background: #fff
      &:hover img
        background: #a2a19b
  dd
    margin-left: 66px
    &.fn a
      font-size: 108%
      font-weight: bold
    &.member, &.post, &.rss
      padding: 2px 0 2px 20px
      border-top: 1px dotted #a2a19b
      background-position: left center
      background-repeat: no-repeat
      background-color: transparent
    &.member
      background-image: url(/plugin_assets/community_engine/images/icons/user.png)
    &.post
      background-image: url(/plugin_assets/community_engine/images/icons/page_white.png)
    &.rss
      background-image: url(/plugin_assets/community_engine/images/icons/rss.png)

h6.all
  margin: .5em 0
  a
    font-size: 85%
    font-weight: bold
    text-transform: uppercase
    background: transparent url(/plugin_assets/community_engine/images/icons/add.png) no-repeat left center
    padding: 3px 0 3px 20px
    color: $link_color

/* Main Form =========================

.MainForm
  label
    display: block
    margin: 1em 0 2px 0
    em
      font-style: italic
      font-family: Georgia, Times, serif
      color: #777
  select
    border: 1px solid #ccc
  input, textarea
    border: 1px solid #ccc
    padding: 5px
    font-size: 1em
    font-weight: bold
    color: #777
    width: 250px
    background: #f8f8f8
  input:focus, textarea:focus
    color: #777
    border-color: #777
    background: #fff
  input.wrong, .fieldWithErrors input
    border-color: #f00
    color: #f00
    background: #ffd5d5
  p
    input, button
      background-image: url(/images/gradientbg.png)
      border: 1px solid #bbb
      color: #414141
      margin: 1em 0
      width: auto
      cursor: pointer
      border-radius: 3px
      -moz-border-radius: 3px
      -webkit-border-radius: 3px
    input:hover
      border: 1px solid #5E5E5E
  strong
    color: #f00
    &.ok
      color: #008000
    em
      text-decoration: underline
      font-weight: bold
  textarea
    width: 550px
    color: #777
  fieldset
    margin: 1em 0 0 0
    label
      margin: 4px 0
      color: #777
    input
      border: none
      width: auto
    &.inline label
      display: inline
      margin-right: 1em

/* submit

/* checks

.warning, #errorExplanation, .errorExplanation
  padding: 1em 1em 1em 1em
  margin: 1em 0
  background-color: #FCC
  border: solid 1px #C66
  border-radius: 6px
  -moz-border-radius: 6px
  -webkit-border-radius: 6px
  color: #6b5e2b
  width: 600px

.notice
  padding: 1em 1em 1em 1em
  margin: 1em 0
  color: #30332a
  background-color: #a8d88d
  @include filter-gradient(#a8d88d, #a8d88d, vertical)
  @include background-image(linear-gradient(top,  #a8d88d 0%,#9ed37c 50%,#a8d88d 100%))
  border: 1px solid #82A86E
  @include border-radius(3px)
  width: 600px

/* ===============================================
/* 7. FOOTER
/* ===============================================

#ft
  background: #fff
  background: rgba($light_background_color, 0.5)
  @include filter-gradient(rgba($light_background_color, 0.5), #ffffff, vertical) // IE6-9
  @include background-image(linear-gradient(top,  rgba($light_background_color, 0.5)0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%))



  padding-bottom: 1em
  border-top: 1px solid #ccc
  padding: 0 10px 0 10px
  .yui-u .box
    margin: 0 1em 0 0
  .first .box
    margin: 0 0 0 1em
  .yui-u .box h3
    color: #666
    border-color: #666

/* whats fresh

.fresh
  dl
    clear: both
    border-bottom: 1px dotted #ccc
    padding: 3px 0
  dt
    float: left
    width: 10.8461em
    /* about 180px - 3em
    *width: 10.5em
    /* for IE
  dd
    margin-left: 12.3846em
    /* about 200px - 3em
    *margin-left: 12em
    /* about 200px
  dt
    padding-left: 20px
    background-image: url(/plugin_assets/community_engine/images/icons/activity_default.png)
    background-repeat: no-repeat
    background-position: left center
    background-color: transparent
  .comment dt
    background-image: url(/plugin_assets/community_engine/images/icons/comment.png)
  .photo dt
    background-image: url(/plugin_assets/community_engine/images/icons/picture.png)
  .clipping dt
    background-image: url(/plugin_assets/community_engine/images/icons/book.png)
  .updated_profile dt
    background-image: url(/plugin_assets/community_engine/images/icons/user_edit.png)
  .favorite dt
    background-image: url(/plugin_assets/community_engine/images/icons/heart_add.png)
  .post dt, .sb_post dt, .topic dt
    background-image: url(/plugin_assets/community_engine/images/icons/post.png)
  .rsvp dt, .event dt
    background-image: url(/plugin_assets/community_engine/images/icons/date.png)

/* ===============================================
/* 8. COMMUNITY FOOTER
/* ===============================================

#CommunityFooter
  margin: 0px 0px 0px 0px
  font-size: 85%
  padding: 20px 20px 0px 20px
  background: #F1F1F1
  ul
    float: left
    li
      float: left
  li
    a
      padding: 2px 10px
      display: block
      border-left: 1px solid #ccc
    &#rss a
      color: #fff
      background: orange
      text-decoration: none
    &:first-child a
      border: none
      padding-left: 0
  p
    float: right
    padding: 2px 0 2px 120px
    #background: #f1f1f1 url(/plugin_assets/community_engine/images/logo.gif) no-repeat left center

/* ===============================================
/* 9. CLEARFIX
/* ===============================================

#NavBar:after, .hentry:after, .box:after, dl.vcard:after, .fresh dl:after, #CommunityFooter:after, .hentry .tags:after
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden

* html
  #NavBar, .hentry, .box, dl.vcard, .fresh dl, #CommunityFooter, .hentry .tags
    display: inline-table

/* Hides from IE-mac \

#NavBar, .hentry, .box, dl.vcard, .fresh dl, #CommunityFooter, .hentry .tags
  height: 1%

#NavBar, .hentry, .box, dl.vcard, .fresh dl, #CommunityFooter, .hentry .tags
  display: block

/* End hide from IE-mac

/* SORTABLES

ul
  &.sortable
    list-style: none
    border: 1px solid #ccc
    min-height: 20px
    line-height: 1.5em
    padding: 0
    li
      cursor: move
  &.sortable_hover
    border: 1px dashed #328E01
    background: #efefef
  &#skills
    width: 250px
    height: 200px
    overflow: auto
    li
      background: #ffffff
      margin: .5em
      padding: .5em
      border: 1px solid #cccccc
  &#users_skills
    width: 250px
    background: #eee
    overflow: hidden
    li
      background: #ffffff
      margin: .5em
      padding: .5em
      border: 1px solid #cccccc

.handle
  cursor: move

/*	PAGINATION

div.pagination
  margin: 10px
  clear: both
  div.pagination_info
    float: right
  a
    margin-right: 0.3em
    padding: 0.4em
    &:hover
      background: #828282
      color: #ffffff
      margin-right: 0.3em
      padding: 0.4em
    &.active
      background: #828282
      border: none
      color: #ffffff

/* CLIPPINGS

.clippings_grid
  background: #fff
  .row .clipping
    border: 1px solid #ccc
    padding: 10px 15px 20px 15px
    margin: 10px 20px 20px 20px
    width: 200px
    float: left
    img.clipping_image
      width: 200px
    p
      font-size: 85%
      margin-top: 10px

/* Tag Clouds

.nube1
  font-size: 1.0em

.nube2
  font-size: 1.3em

.nube3
  font-size: 1.4em

.nube4
  font-size: 1.5em

.nube5
  font-size: 1.6em

.nube6
  font-size: 1.8em

.selected
  color: #268999

/* USER LIST

div.user_list
  .row
    @include box-shadow(0 10px 6px -6px #777)
    border: 1px solid #aaa
    @include border-radius(3px)
    margin: 1em 0 1em 0
    margin-bottom: 1.5em
    padding: 0.8em 0.5em

  div.vcard
    width: 100%
    ul
      margin-left: 0
      font-size: 85%

/*PHOTOS & CLIPPINGS

#photos img.polaroid, #clippings img.polaroid
  margin: 0 12px 15px 0

/*USER PROFILE SIDEBAR

#profile_details
  div.vcard
    width: 100%
  .vcard ul
    margin-left: 0px
  img
    margin-top: 10px

/* CATEGORY PAGES

.box h3 ul.subnav
  display: inline
  font-size: .7em
  font-weight: normal
  text-transform: none
  margin: 0 0 0 10px

ul.subnav li
  display: inline
  a.active
    color: #000
    text-decoration: none

/*SWF UPLOAD

.progressWrapper
  width: 357px
  overflow: hidden

.progressContainer
  margin: 5px
  padding: 4px
  border: solid 1px #E8E8E8
  background-color: #F7F7F7
  overflow: hidden
  .red
    border: solid 1px #B50000
    background-color: #FFEBEB
  .green
    border: solid 1px #DDF0DD
    background-color: #EBFFEB
  .blue
    border: solid 1px #CEE2F2
    background-color: #F0F5FF

.progressName
  font-size: 8pt
  font-weight: bold
  color: #555555
  width: 323px
  height: 14px
  text-align: left
  white-space: nowrap
  overflow: hidden

.progressBarInProgress, .progressBarComplete, .progressBarError
  font-size: 0px
  width: 0%
  height: 2px
  background-color: blue
  margin-top: 2px

.progressBarComplete
  width: 100%
  background-color: green
  visibility: hidden

.progressBarError
  width: 100%
  background-color: red
  visibility: hidden

.progressBarStatus
  margin-top: 2px
  width: 337px
  font-size: 7pt
  font-family: Verdana
  text-align: left
  white-space: nowrap

div
  &.uploadStatus
    margin: 5px
  &.progressBar
    margin: 5px
    div
      &.border
        background-color: #fff
        border: 1px solid gray
        width: 100%
      &.background
        background-color: #333
        height: 18px
        width: 0%

.mceEditor
  .left
    float: none
  table
    margin: 0
    th
      padding: 0
      margin: 0
      border: inherit
      font-weight: normal
    td
      padding: 0
      margin: 0
      border: inherit
    tfoot
      font-style: inherit
    caption
      background: none
    img
      margin: 0 0 0

/* TABLES

table
  th
    font-weight: bold
    border-bottom: 1px solid #ccc
  td
    padding: 5px

/* MESSAGES

ul.message_nav li
  background-position: left
  background-repeat: no-repeat
  padding-left: 20px
  &.inbox_new
    background-image: url(/plugin_assets/community_engine/images/icons/email_open.png)
  &.inbox
    background-image: url(/plugin_assets/community_engine/images/icons/email.png)
  &.sent
    background-image: url(/plugin_assets/community_engine/images/icons/email_go.png)

li.compose
  background-image: url(/plugin_assets/community_engine/images/icons/email_edit.png)

.messages .photo a img
  float: left
  display: block
  padding: 2px
  border: 1px solid #a2a19b
  background: #fff

table.messages tbody td
  border-bottom: 1px solid #ccc

.messages
  .photo a:hover img
    background: #a2a19b
  em
    font-style: italic
    font-family: Georgia, Times, serif
    color: #777
  td.meta
    font-size: 85%
    text-align: right

pre.message_body
  padding: 10px
  border: 1px solid #ccc
  background: #efefef
  white-space: pre-wrap
  /* css-3
  white-space: -moz-pre-wrap
  /* Mozilla, since 1999
  white-space: -pre-wrap
  /* Opera 4-6
  white-space: -o-pre-wrap
  /* Opera 7
  word-wrap: break-word
  /* Internet Explorer 5.5+

table.poll
  width: 100%
  margin-bottom: 3em
  td
    border-bottom: none
    .vote
      display: block
      float: left
      background: url(/plugin_assets/community_engine/images/icons/vote.png) no-repeat left
      padding: 0 10px 0 20px
      height: 20px
      margin-right: 10px
      border-right: 1px solid #ccc
    &.bars
      width: 50%
      div.bar-container
        border: 1px solid #ccc
        width: 90%
        margin: 0px 5px 2px 0
        padding: 1px
        float: left
        background: white
        height: 1em
        .bar
          background-color: #cfe1f1
          height: 12px
          font-size: 10px
          text-align: right
          padding-right: 2px

/* User Menu Dropdown

#user-menu
  padding-right: 15px
  background: url(/plugin_assets/community_engine/images/icons/bullet_arrow_down_50.png) no-repeat right
  &:hover
    background: url(/plugin_assets/community_engine/images/icons/bullet_arrow_down.png) no-repeat right

.icon_row a
  margin-right: 5px
  img
    border: 0
    vertical-align: middle

.header_border_left
  font-weight: bolder
  font-size: 110%
  color: #000
  vertical-align: top

#site_search
  position: relative
  float: right
  margin: 0px 10px 0px 0px

.span#location_chooser
  input
    width: 220px