

#yui-main
  .yui-b
    -box do 
      %h3= :inbox.l

      %table.messages{:border => 0, :width => '100%'}
        %tbody
          - if @messages.empty?
            %tr
              %td{ :colspan => "5" }
                = :no_messages.l
          -else
            - @messages.each do |message|
              %tr
                %td{:width => '10px'}
                  %fieldset.inline= check_box_tag "delete[]", message.id
                %td{:width => '80px'}
                  .photo= link_to image_tag( message.sender.avatar_photo_url(:thumb), "height"=>"50px", "alt"=>"#{message.sender.login}", "width"=>"50px" ), user_path(message.sender), :title => :users_profile.l(:user => message.sender.login)

                %td
                  = link_to h(message.subject), user_message_path(@user, message)                  
                  %br
                  = :from.l + ":"
                  = link_to h(message.sender.full_name), user_path(message.sender)
                %td{:width => '20px'}
                  %em
                    = message.read? ? :read.l : :unread.l
                %td.meta{:width => '100px'}= h I18n.l(message.created_at, :format => :published_date)
        %tfoot
          %tr
            %td{ :colspan => "5" }
              -if @messages.any?
                %p= submit_tag :delete_selected.l              
      
      .pagination
        -p =paginating_links @messages if @messages.page_count > 1
        = Hpricot.uxs p

