<h1>Course Poster</h1>




<p>Download the poster for the upcoming course <%= "(#{APP_CONFIG['title_short']})" %>
from this page.</p>

<p>
    Please feel free to print this poster for yourself. Do not hesitate to forward this poster to your colleagues,
    library and/or university.
</p>
<div id="poster_wrapper">
	<div id="left">
		<img src="/system/poster/2013_EMBO_Poster_thumb100.png" class="shadowed">
	</div>
	<div id="right">
		<ul>
		    <li><a href="/system/poster/Poster_2013_small.pdf">Poster_2013_small.pdf (4MB)</a></li>
		    <li><a href="/system/poster/Poster_2013_medium.pdf">Poster_2013_medium.pdf (12MB)</a></li>
		    <li><a href="/system/poster/Poster_2013_large.pdf">Poster_2013_large.pdf (32MB)</a></li>

        </ul>
    </div>
		<div class="clear"></div>
	
</div>

