<html>
<head>
<style>
#header{
    margin-bottom:10px;
}
#content{
    width:780px;
    padding:10px;
}
#footer img{
    padding-right:35px;
}
body {
    font-family: Arial, Helvetica, sans-serif, "DejaVu Sans";
    font-size: 1.2em;
    font-weight: normal;
    color: #191919;
}
h2{
    font-family: Arial, Helvetica, sans-serif, "DejaVu Sans";
    font-size: 1.4em;
    font-weight: bold;
}
</style>    
</head>

<body>
<div id="header">
  <img src="http://innovative-microscopy.scientific-solution.com/images/header_email_2011.jpg" alt="header image" />
</div>
<div id="content">
	<h2>Hey!</h2>
	
	<p><%= @comment.username %> has added a comment to a <%= @comment.commentable_type %> 
	that you commented on. Use this link to check it out:</p>
	
	<p><%= @url %> </p>
	
	<p>Thanks,<br />
	The <%= AppConfig.community_name %> team</p>
	
	<hr>
	<p>If you believe you received this notice in error, please contact support at
	<%= AppConfig.support_email %></p>
	
	<% if @unsubscribe_link %>
	<p>To stop receiving updates about new comments on this <%= @comment.commentable_type %>, visit this URL:</p>
	<p><%= @unsubscribe_link %></p>
	<% end %>

</div>
<div id="footer">
<img src="http://innovative-microscopy.scientific-solution.com/images/2011_email_footer_lg.jpg" alt="sponsor logos">
</div>

</body>
</html>
