<html>
<head>
<style>
#header{
    margin-bottom:10px;
}
#content{
    width:780px;
    padding:10px;
}
#footer img{
    padding-right:35px;
}
body {
    font-family: Arial, Helvetica, sans-serif, "DejaVu Sans";
    font-size: 1.2em;
    font-weight: normal;
    color: #191919;
}
h2{
    font-family: Arial, Helvetica, sans-serif, "DejaVu Sans";
    font-size: 1.4em;
    font-weight: bold;
}
</style>    
</head>

<body>
<div id="header">
  <img src="http://innovative-microscopy.scientific-solution.com/images/header_email_2011.jpg" alt="header image" />
</div>
<div id="content">
	<h2>Hey <%= @user.login %>!</h2>
	
	<p><%= @comment.username %> has added a comment to a <%= @comment.commentable_type %> 
	that you commented on. Use this link to check it out:</p>
	
	<p><%= @url %> </p>
	
	<p>Thanks,<br />
	The <%= AppConfig.community_name %> team</p>
	
	<hr>
	<p>If you don't want to receive e-mails like this one from <%= AppConfig.community_name %>, you can change 
	your e-mail preferences here:</p>
	
	<p><%= application_url %>/<%= @user.login_slug %>/edit_account</p>


</div>
<div id="footer">
<img src="http://innovative-microscopy.scientific-solution.com/images/2011_email_footer_lg.jpg" alt="sponsor logos">
</div>

</body>
</html>
