<html>
<head>
<style>
#header{
    margin-bottom:10px;
}
#content{
    width:780px;
    padding:10px;
}
#footer img{
    padding-right:35px;
}
body {
    font-family: Arial, Helvetica, sans-serif, "DejaVu Sans";
    font-size: 1.2em;
    font-weight: normal;
    color: #191919;
}
h2{
    font-family: Arial, Helvetica, sans-serif, "DejaVu Sans";
    font-size: 1.4em;
    font-weight: bold;
}
</style>    
</head>

<body>
<div id="header">
  <img src="http://innovative-microscopy.scientific-solution.com/images/header_email_2011.jpg" alt="header image" />
</div>
<div id="content">
	<h2>Hi there!</h2>
	<p>You asked us to remind you of your <%= AppConfig.community_name %> username.</p>
	<p>Your username is: <%= @user.login %>. </p>
	
	<p>
		If you have any questions, or you think this reminder was sent in error, please contact 
		<%= AppConfig.community_name %> support at <%= AppConfig.support_email %>.
	</p>
	<p>Thanks,<br />
	The <%= AppConfig.community_name %> team</p>

</div>
<div id="footer">
<img src="http://innovative-microscopy.scientific-solution.com/images/2011_email_footer_lg.jpg" alt="sponsor logos">
</div>

</body>
</html>
