<html>
<head>
<style>
#header{
    margin-bottom:10px;
}
#content{
    width:780px;
    padding:10px;
}
#footer img{
    padding-right:35px;
}
body {
    font-family: Arial, Helvetica, sans-serif, "DejaVu Sans";
    font-size: 1.2em;
    font-weight: normal;
    color: #191919;
}
h2{
    font-family: Arial, Helvetica, sans-serif, "DejaVu Sans";
    font-size: 1.4em;
    font-weight: bold;
}
</style>    
</head>

<body>
<div id="header">
  <img src="http://innovative-microscopy.scientific-solution.com/images/header_email_2011.jpg" alt="header image" />
</div>
<div id="content">
	<h2>Hey <%= @message.recipient.login %>!</h2>
	
	<p>
		<%= @message.sender.login %> has sent you a private message on 
		<%= AppConfig.community_name %>. Use this link to read it:
	</p>
		
	<p><%= user_message_url(@message.recipient, @message) %></p> 
	
	<p>Thanks,<br />
	The <%= AppConfig.community_name %> team</p>
</div>
<div id="footer">
<img src="http://innovative-microscopy.scientific-solution.com/images/2011_email_footer_lg.jpg" alt="sponsor logos">
</div>

</body>
</html>
