<html>
<head>
<style>
#header{
    margin-bottom:10px;
}
#content{
    width:780px;
    padding:10px;
}
#footer img{
    padding-right:35px;
}
body {
    font-family: Arial, Helvetica, sans-serif, "DejaVu Sans";
    font-size: 1.2em;
    font-weight: normal;
    color: #191919;
}
h2{
    font-family: Arial, Helvetica, sans-serif, "DejaVu Sans";
    font-size: 1.4em;
    font-weight: bold;
}
</style>    
</head>

<body>
<div id="header">
  <img src="http://innovative-microscopy.scientific-solution.com/images/header_email_2011.jpg" alt="header image" />
</div>
<div id="content">
	<h2><%= AppConfig.community_name %> <%= AppConfig.community_tagline %></h2>
	
	
	<p><%= @name %> wants to share the following article with you:</p>
	
	<p><%= @title %><br />
	[<%= @url %>]</p>
	
	<h3>Description:</h3>
	
	<p><%= @description %></p>
	
	<h3>Personal Message:</h3>
	
	<p><%= @message %></p>
	
	
	<hr>
		
	
	<p>Thanks,<br />
	<%= @name.eql?('Someone') ? "The #{AppConfig.community_name} Team" : @name %></p></p>
	
	<hr>
	
	<p><%= AppConfig.community_description %></p>
	
	<p>For support, or to report abuse, please contact <%= AppConfig.support_email %>.</p>

</div>
<div id="footer">
<img src="http://innovative-microscopy.scientific-solution.com/images/2011_email_footer_lg.jpg" alt="sponsor logos">
</div>

</body>
</html>
	