<html>
<head>
<style>
#header{
    margin-bottom:10px;
}
#content{
    width:780px;
    padding:10px;
}
#footer img{
    padding-right:35px;
}
body {
    font-family: Arial, Helvetica, sans-serif, "DejaVu Sans";
    font-size: 1.2em;
    font-weight: normal;
    color: #191919;
}
h2{
    font-family: Arial, Helvetica, sans-serif, "DejaVu Sans";
    font-size: 1.4em;
    font-weight: bold;
}
</style>    
</head>

<body>
<div id="header">
  <img src="http://innovative-microscopy.scientific-solution.com/images/header_email_2011.jpg" alt="header image" />
</div>
<div id="content">
    <h2>Hi <%= @user.first_name %>,</h2>
	<p>We've reset your <%= AppConfig.community_name %> password.</p>
	
	<p><strong>Your new password is: <%= @user.password %></strong></p>
	
	<p>If you have any questions, please contact <%= AppConfig.community_name %> 
	support at <%= AppConfig.support_email %>.</p>
	
	<p>Thanks,<br />
	The <%= AppConfig.community_name %> team</p>

</div>
<div id="footer">
<img src="http://innovative-microscopy.scientific-solution.com/images/2011_email_footer_lg.jpg" alt="sponsor logos">
</div>

</body>
</html>
    