<h1>Course Program</h1>

<h2>“<%= APP_CONFIG['title_short'] + " " + APP_CONFIG['subtitle'] %>”</h2>

<p>
    Modern microscopy methods necessitate interdisciplinary approaches bringing together scientists from
    various backgrounds. The program will attempt to expose students to experts from the various domains and
    explain their contributions to making the emerging discipline of imaging host-pathogen interactions possible.
</p>

<p>
  The course will take place over eleven days and will be comprised of demonstrations and tutorials, seminars
  and a large number of practicals. It will begin on <%= APP_CONFIG['start_date'].to_date.strftime("%B #{APP_CONFIG['start_date'].to_date.day.ordinalize} %Y") %>, with a reception in the morning at the
  Knowledge Commons on the CSIR-Pretoria campus.
</p>

<p>
    The structure of a typical day will be seminars in the morning, followed by an overview of the practicals.
    After a luncheon, this will be followed by the practicals themselves in the afternoon and into the early evening.
    Data analysis and preparation of the practicals for the following day will be done in the evening before and after
    dinner. Students will give presentations on their work over the length of the course.
</p>

<div id="schedule_wrapper">
  <div class="schedule">
    <%= link_to(image_tag('/system/schedules/2013_course_schedule.png'), '/system/schedules/2013_Schedule.pdf')  %>
    <p><%= link_to 'Lecture Schedule', '/system/schedules/2013_Schedule.pdf' %></p>
  </div>
  <div class="schedule">
    <%= link_to(image_tag('/system/schedules/2013_course_schedule_practical.png'), '/system/schedules/2013_Practical_Schedule.pdf')  %>
    <p><%= link_to 'Practicals Schedule', '/system/schedules/2013_Practical_Schedule.pdf' %></p>
  </div>

</div>

<!--<p> For an example of a typical day in the course, please refer to past courses in-->
   <!--<%= link_to '2010', '/system/2010/index.html' %>-->
   <!--&-->
  <!--<%= link_to '2011', '/system/2011/index.html' %>-->
    <!--.</p>-->
<p>
  There will be two group social events, on and off the CSIR campus, including an outreach program with a
  <a href="http://www.africanleadershipacademy.org" target="_blank">local high school</a>.
</p>


