<h1>Course Instructors</h1>
<div id="instructor_nav">
<p>
    <% if @instructors.blank? %>
        <p>Currently no instructors available</p>
    <% else %>
        |
    <% end %>
<% for instructor in @instructors %>
    <a href=#<%=h instructor.last_name %>><%=h instructor.first_name + " " + instructor.last_name %></a> |
<% end%>
</p>
</div>
<p><br /></p>
<% for instructor in @instructors %>
    <div id="instructor">
        <p><a name="<%= instructor.last_name %>"></a></p>
        <div id="instructor_content">
        <h3><%=h instructor.first_name + " " + instructor.last_name %></h3>
        <p><%= instructor.organisation + " | " + mail_to(instructor.email) %></p>
		<% unless instructor.webpage.blank? %>
        <p><%= link_to instructor.webpage, instructor.webpage, :target => 'top' %></p>
        <% end %>
    </div>
    </div>
<% end %>


