<div id="instructor">
        <p><a name="<%= @instructor.last_name %>"></a></p>
        <div id="instructor_content">
        <h3><%=h @instructor.first_name + " " + @instructor.last_name %></h3>
        <p><%= @instructor.organisation + " | " + mail_to(@instructor.email) %></p>
        <% unless @instructor.webpage.blank? %>
        <p><%= link_to @instructor.webpage, @instructor.webpage, :target => 'top' %></p>
        <% end %>
    </div>
    </div>
<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>