<dl>
	<dt>Avarage Rating:</dt>
  <dd>
  	<% count = @record.rating_average.to_i %>
		<% remain_count = APP_CONFIG['max_rating_stars'] - count %>
	  <% count.times do %>
		  <%= image_tag('ajaxful_rating/star_single.png', :class => 'star', :alt => "avarage rating of #{count} out of #{APP_CONFIG['max_rating_stars']}") %>
		<% end %>
		<% remain_count.times do %>
      <%= image_tag('ajaxful_rating/star_single_empty.png', :class => 'star', :alt => "avarage rating of #{count} out of #{APP_CONFIG['max_rating_stars']}") %>
    <% end %>
	</dd>
	<dt>Your Rating:</dt>
	<dd><%= ratings_for @record, :show_user_rating => true, :remote_options => {:url => rate_organizer_user_path(@record)} %>
</dd>
<% columns.each :for => @record do |column| %>
  <dt><%= column.label -%></dt>
  <dd<%= " class=\"#{column.name}-view #{column.css_class}\"" unless column.is_a? ActiveScaffold::DataStructures::ActionColumns %>>
<% if column.is_a? ActiveScaffold::DataStructures::ActionColumns -%>
    <%= render :partial => 'show_columns', :locals => {:columns => column} %>
<% else -%>
    <%= show_column_value(@record, column) -%> &nbsp;
<% end -%>
  </dd>
<% end -%>
</dl>
