<div id="embedded_datafiles">
  <% if @record.new_record? %>
    <%= render  :active_scaffold => 'admin/datafiles', 
              :constraints => { :assetable_id => @user_session_id },
              :label => '' %>
			  
  <% else %>
    <%= render  :active_scaffold => 'admin/datafiles', 
              :constraints => { :user_id => @record.id }, 
              :label => '' %>
  <% end %>
</div>
