<div id="csir_footer">
    <div class="right">
        <!-- <a href="mailto:juergen.helmers@gmail.com"><img src="/images/jh_logo_9.png" alt="Programming and Design © 2010 Dr. Juergen Helmers"></a> -->
				<a href="http://www.web-now.de" target="_blank">Programming and Design &copy; 2010 <img src="/images/logo_small.png" alt="Programming and Design © 2010 www.web-now.de"></a>
    </div><!-- footer_right -->
    <div class="clear"></div>
</div> <!-- csir_footer -->
