<div id="nav">
            <ul class="sf-menu sf-js-enabled sf-with-ul">
            <li><%= link_to 'Home', "/" %></li>
            <li><%= link_to 'Program', programs_path %></li>
            <% unless logged_in?  %>
              <li><%= link_to 'Register', signup_path %></li>
            <% end  %>
            <li><%= link_to 'Speakers', speakers_path %></li>
            <li><%= link_to 'Venue', venues_path %></li>
            <li><%= link_to '2010', '/system/2010/index.html' %></li>
            <li><%= link_to '2011', '/system/2011/index.html' %></li>
            <!--<li><%= link_to 'Last Year\'s Course', :controller => 'last_course', :action => 'index' %></li>-->
            <% if logged_in? && current_user.role.name=="organizer" %>
              <li><%= link_to 'Users', organizer_users_path %></li>
            <% end %>
            <li class="current noup">
            	<% if logged_in? %>
                  <%= link_to '<span class="noup">&micro;</span>BOOK', dashboard_user_path(current_user) %>
                    <ul>
                      <li><%= link_to 'Forums', forums_path %></li>
					  <li><%= link_to 'Documents', documents_path %></li>
					  <li><%= link_to 'Practical Modules', practical_modules_path %></li>
                      <li><%= link_to 'Popular', popular_path %></li>
                      <li><%= link_to 'People', users_path %></li>
											<li></li>
                      <li class="current"><%= link_to current_user.login, dashboard_user_path(current_user) %>
                          <ul>
                              <li class="current"><%= link_to :edit_profile.l, edit_user_path(current_user)  %></li>
                              <li><%= link_to 'Account Settings', edit_account_user_path(current_user)  %></li>
                              <li><%= link_to 'Manage Posts', manage_user_posts_path(current_user) %></li>
                              <li><%= link_to 'Inbox', user_messages_path(current_user)  %></li>
							  <hr>
                              <li><%= link_to 'View Profile', user_path(current_user) %></li>
                              <li><%= link_to 'Blog', user_posts_path(current_user)  %></li>
                              <li><%= link_to 'Photo Manager', user_photo_manager_index_path(current_user) %></li>
                              <li><%= link_to 'Clippings', user_clippings_path(current_user) %></li>
                              <li><%= link_to 'Friends', accepted_user_friendships_path(current_user) %></li>
                          </ul>
                     </li>
					 <li><%= link_to 'Logout', logout_url  %></li>
                  </ul>
                <% end %>
              </li>
            <% if logged_in? && current_user.admin? %>
                <li class="current"><a href="#">Admin</a>
                    <ul>
                        <li><%= link_to 'Users', admin_users_path %></li>
                        <li><%= link_to 'Schedule', admin_schedules_path %></li>
                        <li><%= link_to 'Practical Modules', admin_practical_modules_path %></li>
						<li><%= link_to 'Alumni', admin_alumnis_path %></li>
						<li><%= link_to 'Documents', admin_binaries_path %></li>
                        <li><%= link_to 'Speakers', admin_speakers_path %></li>
						<li><%= link_to 'Instructors', admin_instructors_path %></li>
						<li><%= link_to 'Referals', admin_referals_path %></li>
                        <li class="current"><%= link_to 'CE Admin', '/admin/dashboard' %>
                            <ul>
                                <li class="current"><%= link_to 'Homepage Features', homepage_features_path %></li>

                                <li><%= link_to 'Categories', categories_path %></li>
                                <li><%= link_to 'Contests', contests_path %></li>
                                <li><%= link_to 'Metro Areas', metro_areas_path %></li>
                                <li><%= link_to 'Events', events_path %></li>
                                <li><%= link_to 'Statistics', statistics_path %></li>
                                <li><%= link_to 'Ads', ads_path %></li>
                                <li><%= link_to 'Comments', admin_comments_path %></li>
                                <li><%= link_to 'Tags', admin_tags_path %></li>
                                <li><%= link_to 'Pages', admin_pages_path %></li>
                           </ul>
                       </li>

                    </ul>
                </li>
            <% end %>
        </ul>
        </div><!-- nav -->

	<script type="text/javascript">
	    jQuery(document).ready(function(){
	      jQuery.noConflict()
	      jQuery("ul.sf-menu").supersubs({
	        minWidth:    2,   // minimum width of sub-menus in em units
	        maxWidth:    25,   // maximum width of sub-menus in em units
	        extraWidth:  1,     // extra width can ensure lines don't sometimes turn over
	        delay: 500,
	        animation:   { duration: 10, queue: false}
	      }).superfish();
	    });
    </script>