<div id="sidebar_admin">
		<h5>Site Administration</h5>
			<ul>
				<li><%= link_to 'User Management', admin_users_path %></li>
				<li><%= link_to 'Speaker Management', admin_speakers_path %></li>
				<li><%= link_to 'Instructor Management', admin_instructors_path %></li>
				<!--<li><a href="http://orders.synbio.csir.co.za/webalizer" target="_blank">Access Statistics</a></li>-->
			</ul>
</div>
