<div id="slideshow_content"></div>

<script type="text/javascript">
        jQuery(document).ready(function(){
          jQuery.noConflict()
          jQuery('#slideshow_content').crossSlide({
          sleep: 6,
          fade: 4,
		  shuffle: true
          },[
          <%= Dir[RAILS_ROOT + "/public/images/cross-slide/flash*.png"].collect {|m| "{src: '#{m.gsub('/backup/www-rails/embo/public','')}'}"}.join(",") %>
          ]);
        });
    </script>
