<div id="sponsors">  
	<div id=sponsor_links>
	  <%= link_to(image_tag('csirlogoblue_sm.jpg', :class => 'sponsor_image'), 'http://www.csir.co.za', :popup => true) %>
		<%= link_to(image_tag('EMBO_Logo.png', :class => 'sponsor_image embo'), 'http://www.embo.org', :popup => true) %>
		<%= link_to(image_tag('dst_logo.png', :class => 'sponsor_image'), 'http://www.dst.gov.za/', :popup => true) %>
		<%= link_to(image_tag('zeiss_sponsor_shadow.png', :class => 'sponsor_image_zeiss'), 'http://www.zeiss.com/micro', :popup => true) %>
		<!-- <%= link_to(image_tag('logo_nikon_small.png', :class => 'sponsor_image'), 'http://www.nikoninstruments.eu/', :popup => true) %> -->
		<%= link_to(image_tag('nrf_sm.png', :class => 'sponsor_image'), 'http://www.nrf.ac.za', :popup => true) %>
		<%= link_to(image_tag('french_embassy_logo_small.jpg', :class => 'sponsor_image'), 'http://www.ambafrance-rsa.org', :popup => true) %>
		<%= link_to(image_tag('logo_bmbf.gif', :class => 'sponsor_image white'), 'http://www.bmbf.de/', :popup => true) %>
		<!-- <%= link_to(image_tag('LogoCYTOOTM_sm.jpg', :class => 'sponsor_image_last'), 'http://www.cytoo.com/', :popup => true) %> -->

	</div>
	<!--<div id=copyright_information class="right">-->
        <!--<a href="http://www.web-now.de" target="_blank">&copy; 2009-<%= Time.now.year %> <img src="/images/logo_small.png" alt="Programming and Design © <%= Time.now.year %> www.web-now.de"></a>-->
    <!--</div>&lt;!&ndash; footer_right &ndash;&gt;-->
    <div class="clear"></div>
</div>
