<div id="schedule">
  <span class="header">Program for <%= @schedule.course_date %></span>

  <div id="index">
    <%= Schedule.sorted.collect { |u| link_to(u.course_date.strftime('%a, %m-%d'), u) }.join(" | ") %>
  </div>

  <% if @schedule.all_day %>
      <ul class="all_day">
        <li><%= @schedule.venue %></li>
        <li><span class="time">All Day</span><%= @schedule.morning1 %></li>
        <br/>
      </ul>

  <% else %>

      <ul class="morning work">
        <li><strong><%= @schedule.venue %></strong></li>
        <br/>
        <li><span class="time">09:00-10:00:</span>
          <% unless @schedule.filemorning1_file_name == nil %>
              <%= link_to(@schedule.morning1, @schedule.filemorning1.url) %></li><br/>
          <% else %>
              <%= @schedule.morning1 %></li><br/>
          <% end %>
          </li>
          <li><span class="time">10:00-11:00:</span>
            <% unless @schedule.filemorning2_file_name == nil %>
                <%= link_to(@schedule.morning2, @schedule.filemorning2.url) %></li><br/>
            <% else %>
                <%= @schedule.morning2 %></li><br/>
            <% end %>
            </li>
            </ul>
      <ul class="break">
        <li><span class="time">11:00-11:30</span>Tea Break</li>
        <br/>
      </ul>
      <ul class="work">
        <li><span class="time">11:30-12:30:</span>
          <% unless @schedule.filemorning3_file_name == nil %>
              <%= link_to(@schedule.morning3, @schedule.filemorning3.url) %></li><br/>
          <% else %>
              <%= @schedule.morning3 %></li><br/>
          <% end %>
          </li>
          </ul>

      <ul class="break">
        <li><span class="time">12:30-13:30:</span><%= @schedule.lunch %></li>
        <br/>
      </ul>
      <ul class="work">
        <li><span class="time">13:30-19:15:</span>Analysis</li>
        <br/>
        <li><span class="time">19:15-20:00:</span><%= @schedule.afternoon2 %></li>
        <br/>
      </ul>

      <ul class="break dinner">
        <li><span class="time">20:00-21:30:</span><%= @schedule.dinner %></li>
        <br/>
      </ul>
  <% end %>
</div>
<div class="clear"></div>