#home
  #wrap_heading
    #wrap_heading_left
      = image_tag('EMBO_Logo.png')
    #wrap_heading_right
      %h2
        = APP_CONFIG['title_long']
        %br/
        = APP_CONFIG['title_short']
  %p.clear
    %br/
  %p
    The
    %a{:href => "http://www.csir.co.za"} CSIR-Synthetic Biology Emerging Research Area
    with the support of the
    %a{:href => "http://www.embo.org"} European Molecular Biology Organisation (EMBO)
    are hosting a practical course entitled:
    = succeed "." do
      %strong
        “#{APP_CONFIG['title_short']}”
  %p
    This course, now in its fourth year, will be aimed at advanced Ph.D. students and post-docs who would like
    to learn new and emerging techniques in infection biology and light microscopy. The major objective of this
    practical course is to introduce wide-field, confocal, super-resolution, light sheet microscopy (SPIM), high
    throughput microscopy, microfluidics and imaging technologies to identify and characterize key molecules involved
    in immunity and infection. Ideally this will include screening a small gene family (via siRNA), assembling a
    basic light sheet microscope, building microfluidic chambers and advanced image analysis of data acquired
    during the course. Special attention will be paid to hands on microscopy and how cell based assays are developed
    to first identify the phenomenon, and then used to give robust and unambiguous results.
    We and EMBO particularly encourage applications from students and post docs from South Africa & and other
    countries in Africa.
  - if @schedule.length > 0
    = render :partial => 'schedule'
  %p
    %strong Course Organizers:
    %br/
    = link_to "Musa Mhlanga", "http://mhlangalab.synbio.csir.co.za", :target => 'top'
    ,
    \#{link_to "Jost Enninga", "http://www.pasteur.fr/ip/easysite/go/03b-00002j-00i/research/scientific-departments/cell-biology-and-infection/units-and-groups/dynamics-of-host-pathogen-interactions", :target => 'top'},
    \#{link_to "Freddy Frischknecht", "http://www.klinikum.uni-heidelberg.de/Malaria-3-Frischknecht.100117.0.html", :target => 'top'}
