%h1 Practical Modules
-if @practical_modules.length > 0
  %table#practical_modules
    %tr
      %th.date Date
      %th
        Group1
        %br>/
        =:early.l
      %th
        Group1
        %br>/
        =:late.l
      %th
        Group2
        %br>/
        =:early.l
      %th
        Group2
        %br>/
        =:late.l
      %th
        Group3
        %br>/
        =:early.l
      %th
        Group3
        %br>/
        =:late.l
      %th
        Group4
        %br>/
        =:early.l
      %th
        Group4
        %br>/
        =:late.l
    - @practical_modules.each do |practical_module|
      %tr
        %td.date= link_to practical_module.course_date.strftime("%Y-%m-%d"), practical_module
        %td= h practical_module.group1_early
        %td= h practical_module.group1_late
        %td= h practical_module.group2_early
        %td= h practical_module.group2_late
        %td= h practical_module.group3_early
        %td= h practical_module.group3_late
        %td= h practical_module.group4_early
        %td= h practical_module.group4_late
-else
  %p
    = :no_schedule_notice.l