<div>
	<h1>Practical Module</h1>
	<div class="course-date"><%= @practical_module.course_date %></div>


	<table id="practical_modules" class="show">
		<tr>
		  <th></th>
		  <th>Early</th>
		  <th>Late</th>
		</tr>
	
		<tr>
			<td>Group 1</td>
			<td><%=h @practical_module.group1_early %></td>
			<td><%=h @practical_module.group1_late %></td>
		</tr>
		<tr>
			<td>Group 2</td>
			<td><%=h @practical_module.group2_early %></td>
			<td><%=h @practical_module.group2_late %></td>
		</tr>
		<tr>
			<td>Group 3</td>
			<td><%=h @practical_module.group3_early %></td>
			<td><%=h @practical_module.group3_late %></td>
		</tr>
		<tr>
			<td>Group 4</td>
			<td><%=h @practical_module.group4_early %></td>
			<td><%=h @practical_module.group4_late %></td>
		</tr>
			
	</table>
	<p>	
		<%= link_to 'List Practical Modules for all days', practical_modules_path %>
	</p>
</div>