-unless AppConfig.closed_beta_mode
  .yui-b.sidebar=render :partial => 'shared/login_sidebar'
  
#yui-main
  .yui-b.main_column
    -box do
      %h3
        ='Log in'
      - form_tag sessions_path, :class => 'MainForm' do
        %label{"for"=>"username"}=:username.l
        = text_field_tag 'login', nil, :size => 35
        %label{"for"=>"password"}=:password.l
        = password_field_tag 'password', nil, :size => 35
        %fieldset
          %label{"for"=>"remember_me"}
            =:remember_me.l
            = check_box_tag 'remember_me'
        %p
          = submit_tag :log_in.l
