<h1>Course Venue</h1>
<div id="home">
	<div id="address">
		
		<p><strong>The course will be hosted by:</strong></p>
        Gene Expression & Biophysics Group<br />
        CSIR- Synthetic Biology ERA<br />
		Building 20,<br />
		Meiring Naudé Road<br />
		Brummeria, Pretoria<br />
		South Africa 0001
	</div>
	<div id="cross-slide"></div>
	<p class="clear"><br /></p>
	<p>
		The CSIR is the largest research institute in South Africa and in Africa is engaged in fields from Nanotechnology
		to Robotics, to Satelitte tracking and remote sensing. A significant investment has recently been made in
		developing high throughput biology especially in imaging & microscopy.
	</p>
	
	
  <%= link_to('CSIR Website', 'http://www.csir.co.za', :popup => true) %>
	
	<p>Course participants will stay close to the CSIR-Pretoria campus</p>
	
	<p><strong>Maps & directions:</strong></p>
	
	<a href="images/CSIR_Directions.pdf"><%= image_tag('CSIR_Directions.png', :class => 'image_drop_shadow' ) %></a><br />
	<p>Please click on the image for a larger version.</p>
</div>



<script type="text/javascript">
        jQuery(document).ready(function(){
          jQuery.noConflict()
          jQuery('#cross-slide').crossSlide({
		  sleep: 5,
			shuffle: true,
		  fade: 3
		  }, [
		  { src: '/images/cross-slide/slide01.png' },
		  { src: '/images/cross-slide/slide02.png' },
		  { src: '/images/cross-slide/slide03.png' },
		  { src: '/images/cross-slide/slide04.png' },
		  { src: '/images/cross-slide/slide05.png' },
		  { src: '/images/cross-slide/slide06.png' }
		]);
        });
    </script>
