<div id="">
	<h2>Course Registration Not Yet Been Opened</h2>
	<p>
	We are sorry to inform you that the registration for the <%= APP_CONFIG['course_year'] %> course has 
	not yet been opened.
	</p>	
	<p>
		You will be able to register in:
	</p>
	<div id="counter" class="counter">
	    <ul class="countdown">
	        <li><div class="countdown_num" id="countdown_day"></div><div>Days</div></li>
	        <li><div class="countdown_num" id="countdown_hour"></div><div>Hours</div></li>
	        <li><div class="countdown_num" id="countdown_min"></div><div>Minutes</div></li>
	        <li><div class="countdown_num" id="countdown_sec"></div><div>Seconds</div></li>
	    </ul>
    </div>

</div>

<script type="text/javascript">
         /*
        Countdown Timer
        Based on the "Count down until any date script" - By JavaScript Kit (www.javascriptkit.com)
        Author: (c) 2009 Elbert Bautista
        URL: http://www.egTheBlog.com
        Licence : Open Source MIT Licence
 
    */
 
    var current="Expired"
    var montharray=new Array("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec")
 
    function countdown(yr,m,d){
        theyear=yr;themonth=m;theday=d
        var today=new Date()
        var todayy=today.getYear()
        if (todayy < 1000)
        todayy+=1900
        var todaym=today.getMonth()
        var todayd=today.getDate()
        var todayh=today.getHours()
        var todaymin=today.getMinutes()
        var todaysec=today.getSeconds()
        var todaystring=montharray[todaym]+" "+todayd+", "+todayy+" "+todayh+":"+todaymin+":"+todaysec
        futurestring=montharray[m-1]+" "+d+", "+yr
        dd=Date.parse(futurestring)-Date.parse(todaystring)
        dday=Math.floor(dd/(60*60*1000*24)*1)
        dhour=Math.floor((dd%(60*60*1000*24))/(60*60*1000)*1)
        dmin=Math.floor(((dd%(60*60*1000*24))%(60*60*1000))/(60*1000)*1)
        dsec=Math.floor((((dd%(60*60*1000*24))%(60*60*1000))%(60*1000))/1000*1)
        if(dday==0&&dhour==0&&dmin==0&&dsec==1){
            document.getElementById('counter').style.display='none';
            document.getElementById('expired').style.display='block';
            return
        }
        else{
            document.getElementById('countdown_day').innerHTML=dday;
            document.getElementById('countdown_hour').innerHTML=dhour;
            document.getElementById('countdown_min').innerHTML=dmin;
            document.getElementById('countdown_sec').innerHTML=dsec;
            setTimeout("countdown(theyear,themonth,theday)",1000)
        }
    }
 
        // THIS IS JUST TEST DATA FOR THE EXAMPLE, REMOVE
    var deadline=new Date();
    deadline.setDate(deadline.getDate()+5);
    var deadlineYear = deadline.getYear();
    if (deadlineYear < 1000)
    deadlineYear+=1900
        // ---------------------------
 
 
    //MODIFY THIS LINE: enter the count down date using the format year/month/day
        //e.g. countdown(2009, 03, 23);
    countdown(<%= APP_CONFIG['application_start'].to_date.strftime("%Y, %m, %d") %>);
</script>