<div id="flash_error">
	<h2>Course Registration Has Been Closed</h2>
	<p>
	We are sorry to inform you that the registration for the <%= APP_CONFIG['course_year'] %> course has been closed.
	</p>	
</div>