%h2 Course Registration Form
- form_for :user, :html => { :multipart => true }, :url => course_signups_path do |f|
  = f.error_messages
  .table_border.effect1
    %table#personal_information
      %tr
        %td
          = "Login"
          %span.red *
          %br/
          = f.text_field :login
        %td
      %tr
        %td
          = f.label :email
          %span.red *
          %br/
          = f.text_field :email
      %tr
        %td
          = f.label :password
          %span.red *
          %br/
          = f.password_field :password
        %td
          %label{:for => "password_confirmation"}
            Confirm Password
          %span.red *
          %br/
          = f.password_field :password_confirmation
      %tr
        %td
          %p
        %td
          %p
      %tr
        %td
          = f.label :first_name
          %span.red *
          %br/
          = f.text_field :first_name
        %td
          = f.label :last_name
          %span.red *
          %br/
          = f.text_field :last_name
      %tr
        %td
          = "Highest Level of Education"
          %span.red *
          %br/
          = f.select :title, ['Bachelor', 'Master', 'PhD', 'Honors'], :prompt => "Please Choose One"
        %td
          = 'Date of Birth'
          %span.red *
          %br/
          = f.date_select :birthday, :start_year => 1960, :end_year => APP_CONFIG['start_date'].to_date.year - 17, :order => [:day, :month, :year]
        %td
          %p
      %tr
        %td
          = f.label :gender
          %span.red *
          %br/
          = f.radio_button :gender, 'F', :class => "radio_narrow"
          female
          %br/
          = f.radio_button :gender, 'M', :class => "radio_narrow"
          male
          %br/
        %td
          = f.label :nationality
          %span.red *
          %br/
          = f.text_field :nationality
    .clear
  .table_border.effect1
    %table#additional_information
      %tr
        %td
          = f.label :department
          %br/
          = f.text_field :department
        %td
          = "Organization/University/Institute"
          %span.red *
          %br/
          = f.text_field :organisation
      %tr
        %td
          = 'Address 1'
          %span.red *
          %br/
          = f.text_field :address1
        %td
          = 'Address 2'
          %br/
          = f.text_field :address2
      %tr
        %td
          = f.label :postal_code
          %span.red *
          %br/
          = f.text_field :postal_code
        %td
          = f.label :city
          %span.red *
          %br/
          = f.text_field :city
      %tr
        %td
          = f.label :user_country
          %span.red *
          %br/
          = f.text_field :user_country
        %td
          = f.label :telephone
          %span.red *
          %br/
          = f.text_field :telephone
      %tr
        %td
          = f.label :fax_number
          %span.red *
          %br/
          = f.text_field :fax_number
        %td
          = f.label :mobile
          %br/
          = f.text_field :mobile
  .table_border.effect1
    %table#additional_information_bottom
      %tr
        %td{:colspan => "2"}
          %p
      %tr
        %td{:colspan => "2"}
          %p
            Please limit your answers to the questions below to a maximum of 300 words each.
      %tr
        %td{:colspan => "2"}
          = "What is your current position?"
          %span.red *
          %br/
          = f.text_field :current_position, :size => '62'
      %tr
        %td{:colspan => "2"}
          = "Who is your current supervisor?"
          %span.red *
          %br/
          = f.text_field :supervisor, :size => '62'
      %tr
        %td{:colspan => "2"}
          = "What are your reasons to apply?"
          %span.red *
          %br/
          = f.text_area :reason_to_apply, :size => '65', :rows => "20", :id => 'resizeDemo'
      %tr
        %td{:colspan => "2"}
          = "Describe any experience with microscopy you might have"
          %span.red *
          %br/
          = f.text_area :mic_exp, :size => '65', :rows => "20", :id => 'resizeDemo'
      %tr
        %td{:colspan => "2"}
          = "Which languages do you speak?"
          %span.red *
          %br/
          = f.text_field :languages, :size => '62'
      %tr
        %td{:colspan => "2"}
          = "Scientific Experiences"
          %span.red *
          %br/
          = f.text_area :science_exp, :size => '65', :rows => "20", :id => 'resizeDemo'
      %tr
        %td{:colspan => "2"}
          = "Scientific Awards"
          %br/
          = f.text_field :awards, :size => '62'
      %tr
        %td{:colspan => "2"}
          = "Scientific Publications"
          %br/
          = f.text_area :publications, :size => '65', :rows => "20", :id => 'resizeDemo'
      %tr
        %td{:colspan => "2"}
          = "Description of your background, current research projects and goals"
          %span.red *
          %br/
          = f.text_area :background, :size => '65', :rows => "20", :id => 'resizeDemo'
      %tr
        %td{:colspan => "2"}
          = "Describe how the approaches covered in this course will benefit your<br />specific project"
          %span.red *
          %br/
          = f.text_area :benefit, :size => '65', :rows => "20", :id => 'resizeDemo'
  .table_border.effect1
    %table#feedback_info
      %tr
        %td{:colspan => "2"}
          = "How did your hear about the course?"
          %br/
          = f.text_area :hear_about_the_course, :size => '65', :rows => "20", :id => 'resizeDemo'
      %tr
        %td{:colspan => "2"}
          %p
          = "Please indicate if you cannot afford to pay the registration fee:"
          %br/
          = f.check_box :waved, :class => "check_waved"
          = "I need to apply for a waiver or scholarship"
  .table_border.effect1
    %table#cv_file
      %tr
        %td{:colspan => "2"}
          = "CV File (PDF Format only, 5MB)"
          %span.red *
          %br/
          = f.file_field :cv_file, :size => '57'
      %tr
        %td
  %p
    %span.red *
    indicating a mandatory field.
  %p
    %strong
      Please provide 1 or 2 letters of recommendation to be sent directly to the following
      %br/
      email address:
  %p
    =mail_to "#{APP_CONFIG['target_email_address']}"
  %p
    Make sure to follow the instructions regarding letters of recommendation in the “Confirmation
    %br/
    of Registration”
    email you will receive once you register for this course.
  %p
    - if params[:action] == 'edit'
      = submit_tag 'Update'
    - else
      = submit_tag 'Sign Up'
:javascript
  (function(a){
      a.fn.autoResize = function(j){
          var b = a.extend({
              onResize: function(){
              },
              animate: true,
              animateDuration: 150,
              animateCallback: function(){
              },
              extraSpace: 20,
              limit: 1000
          }, j);
          this.filter('textarea').each(function(){
              var c = a(this).css({
                  resize: 'none',
                  'overflow-y': 'hidden'
              }), k = c.height(), f = (function(){
                  var l = ['height', 'width', 'lineHeight', 'textDecoration', 'letterSpacing'], h = {};
                  a.each(l, function(d, e){
                      h[e] = c.css(e)
                  });
                  return c.clone().removeAttr('id').removeAttr('name').css({
                      position: 'absolute',
                      top: 0,
                      left: -9999
                  }).css(h).insertBefore(c)
              })(), i = null, g = function(){
                  f.height(0).val(a(this).val()).scrollTop(10000);
                  var d = Math.max(f.scrollTop(), k) + b.extraSpace, e = a(this).add(f);
                  if (i === d) {
                      return
                  }
                  i = d;
                  if (d >= b.limit) {
                      a(this).css('overflow-y', '');
                      return
                  }
                  b.onResize.call(this);
                  b.animate && c.css('display') === 'block' ? e.stop().animate({
                      height: d
                  }, b.animateDuration, b.animateCallback) : e.height(d)
              };
              c.unbind('.dynSiz').bind('keyup.dynSiz', g).bind('keydown.dynSiz', g).bind('change.dynSiz', g)
          });
          return this
      }
  })(jQuery);
  $('textarea#resizeDemo').autoResize();/*]]>*/
