<h1>Course Registration</h1>

<p>
	Welcome to the <strong>"<%= APP_CONFIG['title_short'] + " " + APP_CONFIG['subtitle'] %>"</strong>
    course registration form.
</p>
<p>
	This practical course is aimed at Ph.D. as well as post-doctoral students from universities 
	and research institutes.
</p>
<p>We and EMBO particularly encourage applications from students and post docs from South Africa & and other countries in Africa.</p>
<p>
  Some basic requirements of the course are a background in any of the following: biology, molecular or cell
  biology, biochemistry, genetics, developmental biology, microbiology, biophysics or other related areas.
  Prior exposure to imaging and microscopy will be a plus. Preference will be given to students who have an
  immediate use for the techniques covered in the course in their own research at their home institutions.
  </p>
<p>
  Participation in the course is limited to <%= APP_CONFIG['number_of_students'] %> students and is by competitive
  selection. Registration fee is 250€ (1000€ for participants from industry) but can be waived for students
  from resource poor institutions. </p>
<p>
<p>
  Travel scholarships will be available to accepted applicants. Inquiries for waivers and scholarships should 
  be sent by interested applicants only once they are accepted. More information on whether you are eligible for travel scholarships from us
   can be found at the <a href="http://www.embo.org/programmes/courses-workshops/practical-courses.html" target="_blank">following link</a>
   under the tab Travel grants.
</p>

<p>Participants will be provided with free accommodation (on the CSIR campus) and meals during the course.</p>

<p>
  Due to the rigorous and intensive nature of this course, participants should expect long hours, typically
  beginning at 8h30 and ending at 21h30 each day. As was the case in past years, students and teachers found
  this to be a rewarding experience for all participants.
</p>

<p>All applicants will be notified of the outcome of the selection procedure within ten days of the deadline.</p>


<div class="list_box width_90 effect1">
  <h3>What we expect from the participants:</h3>
	<ul class="bullet_noshadow">
	    <li>A keen interest in microscopy and imaging, and applying it to their research</li>
	    <li> A true commitment to learn and explore, the techniques presented</li>
	    <li>A strong wish to share and synergize your expertise with all participants in the course</li>
	    <li>A strong desire to have fun!</li>
	</ul>
</div>
<div class="list_box width_90 effect1">
  <h3>What you should expect from us:</h3>
	<ul class="bullet_noshadow">
    <li>Learn some of the most cutting-edge techniques in light microscopy today</li>
    <li>Exposure and training in the use of several microscopes, image analysis, presentation of imaging data and design of microscopy based experiments.</li>
    <li>To keep you interested and having fun!</li>
  </ul>
</div>

<p>
	<strong>
		To facilitate in planning for the course, the closing date for applications is <br />
        <%= APP_CONFIG['application_end'].to_date.strftime("%B #{APP_CONFIG['application_end'].to_date.day.ordinalize} %Y") %>
		at <%= APP_CONFIG['application_end'].to_time.strftime("%H:%M:%S") %>.
	</strong>
</p>

<%= link_to 'Fill out the registration form.', new_course_signup_path %>
