<% if Time.now < APP_CONFIG['application_start'].to_time %>

    <%= render 'banner_early' %>

<% elsif Time.now > APP_CONFIG['application_end'].to_time %>

    <%= render 'banner_late' %>
	
<% else %>

    <%= render 'formall' %>
	
<% end %>
<!--

<%= render 'formall' %>

-->
