<h1>Registration Complete</h1>
<p>Thank you for registering for the <strong><%= APP_CONFIG['title_long'] %> <%= APP_CONFIG['subtitle'] %></strong>
practical course organized by the <a href="http://www.csir.co.za">CSIR-Synthetic Biology Emerging Research Area</a> and
<a href="http://www.embo.org">  European Molecular Biology Organisation (EMBO) </a>.</p>

<p>The course will take place at CSIR-Pretoria from <%= APP_CONFIG['course_date_range']%>.</p>

<h4>Essential Registration Details</h4>

<div id="registration_details">	
  <table>
	    <tr>
	        <th>Login:</th>
	        <td><%= h(@user.login) %></td>
	    </tr>
	    <tr>
	        <th>Password:</th>
	        <td><%= h(@user.password) %></td>
	    </tr>
	    <tr>
	        <th>Registration Number:</th>
	        <td><%= h(@user.id) %></td>
	    </tr>
	</table>
</div>


<P>Please provide this registration number to those people whom you have selected to provide you with
letters of recommendation. They must quote your <strong>name</strong> and
<strong>registration number</strong> in the letters they provide on your behalf.
</p>

<p>An Email with your <strong>username</strong>, <strong>password</strong>, and <strong>registration ID</strong>
has been sent to the email address you have provided in the registration form for safe keeping.</p>

<p>Participation in the course is <strong>limited to <%= APP_CONFIG['number_of_students'] %> students</strong> and is by 
    competitive selection. <br />
    The Registration fee is € 250 (€ 1000 for participants from industry) but can be waved for students from 
    resource poor institutions. In addition one or two travel scholarships will be available to accepted 
    applicants. Inquiries for waivers and scholarships should be sent by interested applicants once they are 
accepted. 
    </p>
<p><strong>Closing Date for Applications is <%= APP_CONFIG['application_end_formatted'] %>.</strong></p>
<p>All applicants will be notified of the outcome of the selection procedure within
one week of the deadline.
</p>
<p>In case of problems, feedback or suggestions please do not hesitate to contact us at:</p>
<p><a href="mailto:microscopy.synbio@gmail.com">microscopy.synbio@gmail.com</a></p>




