%div.archive
  %div#2010.year
    %h1 The 2010 Course
    %p
      The 2010 World Cup EMBO Course “Microscopy: from genome scale to the single molecule” took place
      from May 31 to June 12, 2010 at the CSIR campus in Pretoria South Africa. The course brought
      together 16 students from 12 different nationalities and 10 different countries. Please enjoy
      browsing and reading the meeting report put together and published by two of the participant students.
    #list_wrapper
      #item
        = image_tag('/system/2010/poster/EMBO_Poster_thumb100.png', :class => 'image_drop_shadow')
        %br/
        %a{:href => "/system/2010/index.html"} Archived 2010 Course Website
      #item
        = image_tag('/images/2010_meeting_report.jpg', :class => 'image_drop_shadow')
        %br/
        = link_to("meeting report", 'http://onlinelibrary.wiley.com/doi/10.1002/biot.201000374/abstract;jsessionid=A5F10871886881CDB884B39EF5D0DD6F.d02t02', :target => "_blank")
    .clear

    %div#2011.year
      %h1 The 2011 Course
      %p
        The 2011 EMBO Course “Imaging infection: from single molecules to animals” took place
        from November 2nd to November 13th, 2011 at the CSIR campus in Pretoria South Africa. The course brought
        together 16 students from 11 different nationalities and 12 different countries.
      #list_wrapper
        #item
          = image_tag('/system/2011/poster/EMBO_Poster_thumb100.png', :class => 'image_drop_shadow')
          %br/
          %a{:href => "/system/2011/index.html"} Archived 2011 Course Website
