- @meta = { :description => "#{@user.login}'s profile on #{AppConfig.community_name}.", :keywords => "#{@user.full_name}, #{@user.tags.join(", ") unless @user.tags.nil?}", :robots => AppConfig.robots_meta_show_content }
- @section = @user.eql?(current_user) ? 'my_profile' : 'users'
- @sidebar_left = true

.yui-b
  -box do 
    = render :partial => 'profile_user_info_sidebar', :locals => {:user => @user}

  - if @user.description
    -box :id => "about_me" do
      %h3
        =:about_me.l
      %p= @user.description

  -box :class => 'alt', :id => 'friends' do
    %strong
      =:my_friends.l
      =@friend_count
    %p
      = link_to "&raquo; #{:invite_a_friend.l :site => AppConfig.community_name}", invite_user_path(@user) if @is_current_user
      %br= link_to "&raquo; #{:view_all_my_friend_requests.l} (#{@pending_friendships_count})", pending_user_friendships_path(@user) if @is_current_user
    - @accepted_friendships.each do |user|
      =render :partial => "users/sidebar_user", :locals => {:user => user}
    -if @accepted_friendships.size > 4
      %h6.all
        =link_to :see_all.l, accepted_user_friendships_path(@user)

  - unless @users_comments.empty?
    -box :class => 'yui-g alt', :id => 'photo_comments' do
      %h3=:my_recent_comments.l
      - @users_comments.each do |comment|
        %dl.vcard
          %dt.photo
            - if comment.recipient
              = link_to image_tag(comment.recipient.avatar_photo_url(:thumb), :alt => "#{comment.recipient.login}", :width => '50', :height => '50'), commentable_url(comment)
          %dd.fn
            - if comment.commentable.eql?(comment.recipient)
              %strong= :to.l + ": #{link_to comment.recipient.login, commentable_url(comment)}"
            - else
              %br
              %strong= :on_commentable.l + ": #{link_to comment.commentable_name, commentable_url(comment)} (#{comment.commentable_type.l})"
          %dd
            %p= "\"#{truncate_words( comment.comment, 10, '...')}\""


  - unless @photo_comments.empty?
    -box :class => 'yui-g alt', :id => 'photo_comments' do
      %h3=:photo_comments.l
      - @photo_comments.each do |comment|
        %dl.vcard
          %dt.photo
            = link_to(image_tag(comment.commentable.public_filename(:thumb), :width => '50', :height => '50'), user_photo_path(@user, comment.commentable))
          %dd.fn= "#{comment.username}" + " " + :says.l + ":"
          %dd
            = truncate_words(comment.comment, 10)
            %br
            = link_to "&raquo; " + :view_comment.l, user_photo_path(@user, comment.commentable) + "#comment_#{comment.id}"

#yui-main
  .yui-b
    - if @photos.empty? and @recent_posts.empty?
      -box :class => "alt first_alt" do
        %h3= :small_profile.l :user => @user.first_name

    - unless @photos.empty?
      -box :id => "photos" do
        %h3=:my_photos.l
        - @photos.each do |photo|
          = link_to image_tag( photo.public_filename(:thumb), :class => "polaroid"), user_photo_path(@user, photo)

        %h6.all.right= link_to :view_all_my_photos.l, user_photos_path(@user)
        = "#{link_to(:add_a_photo.l, new_user_photo_path(@user))}" if @is_current_user

    - unless @recent_posts.empty?
      -box :id => "posts" do
        %h3=:recent_blog_posts.l
        = render :partial => 'posts/post', :collection => @recent_posts
        %h6.right.all= link_to :view_my_blog.l, user_posts_path(@user)

    - unless @clippings.empty?
      -box :id => "clippings" do
        %h3=:my_clippings.l
        - @clippings.each do |clipping|
          %a{"href"=>"#{h user_clipping_url(@user, clipping)}"}
            %img.clipping.polaroid{"src"=>"#{h clipping.image_uri(:thumb)}", :width => '100', :height => '100'}
        %h6.all.right= link_to :view_all_my_clippings.l, user_clippings_path(@user)

    -box :class => 'hfeed comments', :id => 'comments' do
      %h2=:profile_comments.l
      %h3=:add_your_comment.l
      %p= render :partial => 'comments/comment_form', :locals => {:commentable => @user}
      %a#newest_comment
      = render :partial => 'comments/comment', :collection => @comments
      %span#more_comments_links= more_user_comments_links
