.yui-b
  = render :partial => 'author_profile', :locals => {:user => @user}

  - unless @popular_posts.empty?
    -box :id => "posts", :class => 'alt' do
      %h3=:popular_posts.l
      %ul.list.page
        - @popular_posts.each do |post|
          %li= link_to truncate(post.title, :length => 75), user_post_path(@user, post)

#yui-main
  .yui-b
    -box :class => "posts hfeed" do 
      %h3
        = link_to :users_blog.l(:user => @user.first_name), user_posts_path(@user)
        = @category ? "&raquo; " + link_to(@category.name.upcase, users_posts_in_category_path(@user, @category.name)) : ''

      = link_to( :new_post.l, new_user_post_path(@user), {:class => "right"})  if @is_current_user
      %br

      = render :partial => 'post', :collection => @posts

      .pagination
        -p =paginating_links @posts if @posts.page_count > 1
        = Hpricot.uxs p