@import "compass/css3"
@import "compass/utilities"
@import variables.sass
@import webfont.sass

.active-scaffold
  form, table, p, div, fieldset
    margin: 0
  a
    color: $link_color
    text-decoration: none
    &:visited
      color: $link_color
      text-decoration: none
    &:hover
      background-color: #ccc
  h1,h2,h3.h4,h5,h6
    color: $link_color
.active-scaffold-header
  h2
    padding-top: .2em
    padding-left: .3em
    margin: 0
    margin-bottom: 30px
    text-transform: none
  div.actions a
    float: right
    font: bold 1.1em "Signika Negative",Arial, Helvetica, sans-serif
    text-decoration: none
    padding: 1px 2px
    white-space: nowrap
    margin-left: 5px
    background-position: 1px 50%
    background-repeat: no-repeat
    color: $link_color

.active-scaffold .active-scaffold-footer
  padding: 3px 0px 2px 0px
  border-bottom: none
  font: bold 12px "Signika Negative", Arial, Helvetica, sans-serif
  margin-left: 1em
  margin-right: 1em

.active-scaffold-footer
  .active-scaffold-pagination
    float: right
    white-space: nowrap
    margin-right: 5px
    color: $link_color
  a
    text-decoration: none
    letter-spacing: 0
    padding: 0 2px
    margin: 0 -2px
    color: $link_color

.active-scaffold
  a.cancel, p.form-footer a
    font: bolder 1.2em "Signika Negative", Arial, Helvetica, sans-serif
    letter-spacing: 0
    color: #333
  th
    background: $th_color
    height: 29px
    padding-left: 11px
    padding-right: 11px
    color: #fff
    text-align: left
    border-left: 1px solid #ccc
    border-bottom: solid 1px #ccc
    a
      background: transparent
      color: #fff
      text-align: left
      font: bold 1em "Signika Negative", Arial, Helvetica, sans-serif
      &:hover
        background: $th_color
        text-decoration: underline
        color: #fff
    &.sorted
      background: darken($th_color, 5%)
    &.asc a
      background: url(/images/icons/bullet_arrow_up.png) right 50% no-repeat
      &:hover
        background: url(/images/icons/bullet_arrow_up.png) right 50% no-repeat
    &.desc a
      background: url(/images/icons/bullet_arrow_down.png) right 50% no-repeat
      &:hover
        background: url(/images/icons/bullet_arrow_down.png) right 50% no-repeat
    &.loading a
      background: url(/images/spinner.gif) right 50% no-repeat
      &:hover
        background: url(/images/spinner.gif) right 50% no-repeat
  tr
    &.record td
      background: #EFEFEF
    &.even-record td
      background-color: #F8F8F8
    &.record td.sorted
      background-color: #e8e8e8
    &.even-record td.sorted
      background-color: #f0f0f0
      border-bottom: none
    &.record td.actions a
      color: $link_color
  a.inline-adapter-close
    float: right
    text-indent: -4000px
    width: 12px
    height: 12px
    background: url(/images/control_eject.png) no-repeat 2px -1px
    display: table-row-group
    clear: both
    color: #ddd
    padding-right: 10px
    margin-top: 10px

#render_view
  border: 1px solid #ccc
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  padding: 10px
  margin-top: 15px
  margin-bottom: 10px
  background: white

.active-scaffold-footer
  .active-scaffold-pagination
    float: right
    white-space: nowrap
    margin-right: 5px
    color: #777
    font: bolder
  a
    text-decoration: none
    letter-spacing: 0
    padding: 0 2px
    margin: 0 -2px
    font: bold 12px "Signika Negative", Arial, Helvetica, sans-serif
    color: $link_color

.active-scaffold
  .submit
    background-image: url(/images/gradientbg.png)
    border: 1px solid #bbb
    color: #414141
    margin: 0em 1em 1em 1em
    width: auto
    cursor: pointer
    border-radius: 3px
    -moz-border-radius: 3px
    -webkit-border-radius: 3px
    padding: 5px
    font-size: 1em
    font-weight: bold
    color: #777
    width: 100px
    background: #f8f8f8
    &:hover
      border: 1px solid #5E5E5E
  h4, h5
    margin: 0
    margin-bottom: .5em
    font: bold 1.5em "Signika Negative", Arial, Helvetica, sans-serif
    color: #333
    text-transform: none
  label
    display: block
    font-weight: normal
    margin: .5em
    min-width: 12em
  input.text-input
    font: normal 1em "Signika Negative", Arial, Helvetica, sans-serif
    padding: 2px
    border: solid 1px #aaa
    width: 20em
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
  textarea
    font: normal 1em "Signika Negative", Arial, Helvetica, sans-serif
    padding: 2px
    color: #777
    border: solid 1px #aaa
    width: 20em
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
  select
    font: normal 1em "Signika Negative", Arial, Helvetica, sans-serif
    padding: 2px
    color: #777
    border: solid 1px #aaa
    width: 20.5em
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
  .subgroup
    padding: .5em
    margin-bottom: .5em
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
    border: 1px solid #f2f2f2
    background-color: #FAFAFA

/* Form :: Fields
 *==============================

.sub-section-header
  font-weight: bold
  font-size: 1.1em
  color: #555
  a
    font-weight: normal
    font-size: 1.1em

/* Styling of the embedded datafiles table in main asset "Create New" form
 *----------------------------------------------------------------------------

#embedded_datafiles
  display: block
  width: 800px
  margin-top: 1.2em
  background-color: #fff
  -moz-border-radius: 6px
  -webkit-border-radius: 6px
  border: 1px solid #ccc
  padding: 10px
  h2
    font: bold 1.2em "Signika Negative", Arial, Helvetica, sans-serif
    color: #4a6334
  .active-scaffold-found
    color: $link_color
  a
    color: $link_color
    font: bold 1em "Signika Negative", Arial, Helvetica, sans-serif
  p
    background: none
    color: #fff
    font: bold 1em "Signika Negative", Arial, Helvetica, sans-serif
  .active-scaffold-header
    margin-bottom: 10px
    font: bold 1.2em "Signika Negative", Arial, Helvetica, sans-serif

#embedded_datafiles .sorted th
  background: #224266
  height: 29px
  padding-left: 11px
  padding-right: 11px
  color: #fff
  text-align: left
  border-left: 1px solid #B6D59A
  border-bottom: solid 1px #B6D59A

#embedded_datafiles
  th
    background: $link_color
    height: 29px
    padding-left: 11px
    padding-right: 11px
    color: #fff
    text-align: left
    border-left: 1px solid #B6D59A
  .active-scaffold th a
    display: block
    background: $link_color

.active-scaffold th p
  display: block
  background: $link_color

#embedded_datafiles
  .active-scaffold
    th
      a, p
        background: $link_color
        color: #fff
        text-align: left
        font: bolder 1.1em "Signika Negative", Arial, Helvetica, sans-serif
      &.sorted
        background: $link_color
        a, p
          background: #6a9940
    tr
      &.record td.sorted
        background-color: #e8e8e8
      &.even-record td.sorted
        background-color: #f0f0f0
  .actions a
    font: bold 0.9em "Signika Negative", Arial, Helvetica, sans-serif
    color: $link_color

.active-scaffold tr.record td.actions
  border-right: none
  min-width: 1%
  padding: 0

#embedded_datafiles
  .active-scaffold th
    &.asc a
      background: url(/images/icons/bullet_arrow_up.png) right 50% no-repeat
      &:hover
        background: url(/images/icons/bullet_arrow_up.png) right 50% no-repeat
    &.desc a
      background: url(/images/icons/bullet_arrow_down.png) right 50% no-repeat
      &:hover
        background: url(/images/icons/bullet_arrow_down.png) right 50% no-repeat
    &.loading a
      background: url(/images/spinner.gif) right 50% no-repeat
      &:hover
        background: url(/images/spinner.gif) right 50% no-repeat
  tr
    &.record td
      background: #EFEFEF
    &.even-record td
      background-color: #F8F8F8


/* Table :: Record Rows
 *=============================

.active-scaffold
  tr
    &.record td
      padding-left: 11px
      padding-right: 11px
      border-left: 1px solid #FFF
      border-bottom: solid 1px #eee
      background: #EFEFEF
    &.even-record td
      background-color: #F8F8F8
      border-bottom: none
    &.record td.sorted
      background-color: #e8e8e8
      border-bottom: none
    &.even-record td.sorted
      background-color: #f0f0f0
      border-bottom: none
  a.visibility-toggle
    font-size: 1em
    color: $link_color
  .errorExplanation
    background-color: #fcc
    margin: 0px
    border: solid 1px #f66
    width: 74.5%

.subgroup.Main
  background: #eee

.active-scaffold-found
  float: left
  color: #777

.active-scaffold
  .messages-container, .active-scaffold .messages-container
    padding: 2px
    border: none
    float: left
  .view
    background-color: #fff
    padding: 4px
    border: solid 1px #aaa
  textarea
    width: 30em
  p.form-footer
    margin-top: 100px
  .active-column
    text-align: center
  .show-view
    dt
      font-weight: bolder
      color: #181818
    dd
      width: 650px
      text-align: justify
      font-weight: normal
      &.datafiles-view
        text-align: left
  #user_count
    margin: 0px 0px 10px 0px
  tr.record td.actions a.disabled
    color: #999
    &:hover
      color: #999
      cursor: default
      background: none

/* styling of show view

/*  
 * styling for AS security layer
/*.active-scaffold .disabled {display:none;}
