@import variables.sass
@import "compass/css3"
@import "compass/utilities"
#sponsors
  float: left
  width: 930px
  padding: 15px 20px 0 20px
  /*background: #59595b url('/images/footer_bg2.png');
  background: $link_color
  /* Old browsers
  background: -moz-linear-gradient(top, $link_color 0%, $gradient_bottom_color 100%)
  /* FF3.6+
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $link_color), color-stop(100%, $gradient_bottom_color))
  /* Chrome,Safari4+
  background: -webkit-linear-gradient(top, $link_color 0%, $gradient_bottom_color 100%)
  /* Chrome10+,Safari5.1+
  background: -o-linear-gradient(top, $link_color 0%, $gradient_bottom_color 100%)
  /* Opera 11.10+
  background: -ms-linear-gradient(top, $link_color 0%, $gradient_bottom_color 100%)
  /* IE10+
  background: linear-gradient(to bottom, $link_color 0%, $gradient_bottom_color 100%)
  /* W3C
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$link_color', endColorstr='$gradient_bottom_color',GradientType=0 )
  /* IE6-9
  text-align: center
  @include border-bottom-left-radius($border_radius)
  @include border-bottom-right-radius($border_radius)
  @include box-shadow(0px 2px 4px #000)

  margin-bottom: 25px
  min-height: 50px

  //max-height: 170px
  #sponsor_links
    margin: 0px auto
    padding: 0px
  img
    vertical-align: middle
    &.sponsor_image
      background: #fff
      padding:  2px
      margin-right: 10px
      max-height: 55px
      @include box-shadow(2px 2px 5px #111)
    &.sponsor_image_zeiss
      margin: -3px 8px 0px -3px
      max-height: 72px
      padding-top: 16px
    &.sponsor_image.white
      background: #fff
    &.sponsor_image_last
      padding-right: 0px
  #copyright_information
    margin: 10px 0px

#copyright_information
  margin: 0px
  padding: 0px
  a
    color: #eee
    text-decoration: none
    font-size: 0.8em
  img
    vertical-align: baseline
