@charset "utf-8"
@import "compass"
@import "compass/css3"
@import "compass/utilities"
@import "sponsors.sass"
@import "webfont.sass"
@import "variables.sass"
@import "dropshadow.sass"

html
  color: $color
  background: #FFF

body, div, pre, form, fieldset, blockquote, th, td
  margin: 0
  padding: 0

h1, h2, h3, h4, h5, h6
  color: $header_color
  font-weight: bold

table
  border-collapse: collapse
  border-spacing: 0

fieldset, img
  border: 0

div#wrap_heading div#wrap_heading_left img
  margin-top: 10px

cite, th
  font-style: normal
  font-weight: normal

caption, th
  text-align: left

body
  font: 14px / 1.4 "Signika Negative","Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", Arial, Helvetica, sans-serif

table
  font-size: inherit

pre, tt
  font-family: monospace
  line-height: 100%

html
  background: $page_background_color
  background-color: rgb(195,202,211) // Old browsers
  @include filter-gradient(#c3cad3, #485e6a, horizontal) // IE6-9 fallback on horizontal gradient
  @include background-image(radial-gradient(center, ellipse cover,  rgba(195,202,211,1) 0%,rgba(154,163,170,1) 47%,rgba(72,94,106,1) 100%))
  color: #333

body
  padding: 0 5px 10px
  font-family: "Signika Negative", Arial, Helvetica, sans-serif
  font-size: 15px

a
  color: $link_color
  text-decoration: none
  &:hover
    text-decoration: underline
  &:visited
    color: $link_color

p
  text-align: justify
strong
  font-weight: bold

#main
  width: 970px
  margin: 0 auto

#header
  color: #fff
  position: relative
  background: #46566f url(../images/header_background_2013.png) no-repeat top left
  float: left
  width: 100%
  height: 155px
  padding: 0
  @include border-top-left-radius($border_radius)
  @include border-top-right-radius($border_radius)
  a
    text-decoration: none
    &:hover
      text-decoration: underline

#wrap_heading
  width: 680px
  margin-bottom: 20px

#wrap_heading_left
  width: 220px
  float: left

#wrap_heading_right
  width: 455px
  float: right


.right
  float: right

.left
  float: left

.vertical_middle
  vertical-align: middle

.clear
  clear: both
  margin-bottom: 20px

.image_drop_shadow
  box-shadow: 2px 2px 8px #666
  -moz-box-shadow: 2px 2px 8px #666
  -webkit-box-shadow: 2px 2px 8px #666
  &:hover
    box-shadow: 3px 3px 8px #888
    -moz-box-shadow: 3px 3px 8px #888
    -webkit-box-shadow: 3px 3px 8px #888

.content
  float: left
  background: #fff
  padding: 15px 0px
  width: 968px
  border-left: 1px solid #d1d6dc
  border-right: 1px solid #d1d6dc

.contentleft
  float: left
  display: inline
  width: 700px
  overflow: hidden
  margin: 0 10px 0 9px

.contentright
  float: left
  display: inline
  width: 240px
  overflow: hidden
  margin: 0 9px 0 0

.header_border_left
  font-weight: bolder
  font-size: 110%
  color: #000
  vertical-align: top

#nav
  float: left
  padding: 123px 0px 0px 0px
  width: 950px
  margin-left: 5px

.margino
  margin: 0
  padding: 0

.box
  padding-bottom: 10px
  float: left
  width: 100%

.box_flash
  padding-bottom: 0px
  width: 100%
  text-align: center
  padding-top: 130px

.borderbox
  padding-bottom: 10px
  border: solid
  border-color: #ccc
  border-width: 1px
  float: left
  width: 670px
  padding: 10px
  margin-top: 10px

.borderbox648
  padding-bottom: 10px
  border: solid
  border-color: #ccc
  border-width: 1px
  float: left
  width: 648px
  padding: 10px
  margin-top: 10px

.box680in
  background: #fff
  float: left
  padding: 15px 10px
  width: 680px
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  min-height: 310px

.box680in_home
  background: white url(../images/back_home_box.png)
  float: left
  padding: 15px 10px
  width: 680px
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  min-height: 415px

.boxevaluation
  background: #fff
  float: left
  padding: 15px 10px
  width: 928px
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  min-height: 455px
  margin-left: 10px
  margin-bottom: 10px
  min-height: 415px

.boxin
  margin: 0px 10px 1px 10px

.boxwhite
  background-color: #fff

.boxwhiteright
  background-color: #fff
  padding: 3px 10px 9px 10px
  @include border-radius(3px)
  border: 1px solid rgba($link_color, 0.1)

.boxwhiteright_flash
  background-color: #fff
  padding: 70px 5px 5px 5px
  @include border-radius(3px)

.contentright .boxwhite
  border: 1px solid #ccc

.redstrong
  font-weight: bold
  color:  $red

.greenstrong
  font-weight: bold
  color:  $green

.red
  color:  $red

.green
  color:  $green

#slideshow_content
  width: 200px
  height: 200px
  margin: 10px auto
  padding: 10px 0px 10px 0px
  img
    @include border-radius($border_radius)
    @include box-shadow(2px 2px 4px #888)
#instructor_content img
  margin-right: 5px

#comments
  padding: 5px
  width: 500px

#comment_content
  margin-left: 20px
  hr
    border: none 0
    border-top: 1px
    border-style: dashed
    border-color: #ccc
    width: 50%
    height: 1px
    text-align: center
    margin: 0 auto 0 auto
  .name
    color: #003469

#comment_body
  margin-left: 20px
  width: 400px
  padding: 5px

.margin20
  margin-left: 20px

.title
  border-bottom: solid
  border-width: 1px
  border-color: #46566f
  width: 400px

.time
  border-bottom: solid
  border-width: 1px
  border-color: #46566f
  width: 92px
  text-align: left

#rss li
  list-style-image: url(../images/feed.png)

#fig
  font-size: 9px
  width: 392px
  text-align: justify
  border: solid
  border-width: 1px
  padding: 4px
  border-color: #ccc
  margin-top: 5px
  b
    font-weight: bold

fig img
  margin: 5px

#user
  table
    margin: 0px
    padding: 0
    border-collapse: collapse
    width: 100%
  th
    border-bottom: solid
    border-left: solid
    border-color: #557790
    border-width: 1px
    margin: 0px
    padding: 2px 5px 2px 5px
    background: silver
  td
    border-left: solid
    border-color: #557790
    border-width: 1px
    margin: 0px
    padding: 2px 5px 2px 5px
  tr
    &.odd
      background: #fff
    &.even
      background: #eee
  th
    &.first
      border-left: none
    &.last
      border-right: none
  td
    &.first
      border-left: none
    &.last
      border-right: none
    &.admin
      border: none
      background: #fff

#rss li
  list-style-image: url(../images/feed.png)

.name
  color: #59595b

#flash_notice, #flash_error
  padding: 5px 8px
  margin: 10px 0

#flash_notice
  background-color: #CFC
  border: solid 1px #6C6

#flash_error
  background-color: #FCC
  border: solid 1px #C66

.fieldWithErrors
  display: inline

#errorExplanation
  width: 400px
  border: 2px solid $red
  padding: 0px
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0
  h2
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 14px
    margin: 0
    background-color: $red
    color: #fff
  p
    color: #333
    margin-bottom: 0
    padding: 8px
  ul
    margin: 2px 24px
    li
      font-size: 12px
      list-style: disc

#showuser
  table
    width: 100%
  th
    padding: 3px
    font-weight: bold
    margin-bottom: 2px
  td
    padding-left: 20px
    padding-right: 40px
    margin-right: 40px
    margin-bottom: 2px

#speaker_nav a
  font-size: 85%

#dialog
  width: 25em
  padding: 0 4em
  margin: 4em auto 0 auto
  border: 1px solid #ccc
  border-right-color: #999
  border-bottom-color: #999

#banner
  border-style: solid
  border-width: 2px
  font-size: 1.2em
  font-weight: bold
  border-color: #ccc
  background: #ff7c7c
  padding: 10px

.margin_bottom_30px
  margin-bottom: 30px

.center
  text-align: center

#user_list
  th.first, td.first
    border-left: none
  th
    font-weight: bold
    padding: 0px 5px 0px 5px
    border-bottom: 2px solid #bbb
    border-left: 1px solid #ccc
  td
    font-weight: normal
    padding: 3px 5px 3px 5px
    border-left: 1px solid #ccc
    border-bottom: 1px solid #ccc

#address
  float: left
  width: 19em

#cross-slide
  float: left
  width: 350px
  border: 1px solid #2f2f2f
  min-height: 179px
  margin: 0 0 0 30px

#poster_wrapper
  width: 600px
  padding: 20px
  margin-left: auto
  margin-right: auto
  #left
    float: left
    padding-top: 15px

  #right
    float: right
    width: 460px
    text-align: left
    li
      line-height: 1.8em

#side_poster
  margin: 0 auto
  width: 200px
  margin-top: 20px
  img
    width: 100px
    margin: 0 50px
    border: 1px solid #ccc
  p
    text-align: center
    a
      margin: 0 auto
      text-align: center


#instructor
  margin: 0 40px 40px 0
  float: left
  width: 270px
  height: 160px
  padding:  10px
  &.speaker_box
    padding: 10px
    background: #fff
    border: 1px solid #ccc
    @include border-radius(2px)
    p
      text-align: left


/*COUNTER SPECIFIC STYLES

.counter
  width: 610px
  margin: 40px auto
  ul.countdown
    list-style-type: none
    color: white
    font-weight: bold
    text-align: center
    li
      float: left
      background: url(/images/digit.png) no-repeat
      height: 110px
      width: 105px
      padding-top: 15px
      div
        font-size: 12px
        &.countdown_num
          font-size: 40px
      &.no_countdown
        padding-top: 4px
        background: transparent
        height: 110px
        width: 180px

p.italics
  font-style: italic

#registration_details
  width: 390px
  padding: 10px
  border: 1px solid #ccc
  border-radius: 4px
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  th
    font-weight: bolder
    padding: 3px
    width: 180px
  td
    font-weight: normal
    padding: 3px

/*
 * styling of registration form
 *

//style submit buttons of all forms

input[type="submit"]
  @include box-shadow(0 4px 3px -3px #888)
  &:hover
    border: 1px solid #888
    @include box-shadow(0 6px 4px -4px #777)

/*
 * personal information section

div.table_border table
  &#personal_information
    width: 600px
    td
      width: 310px
      input
        width: 280px
        &.radio_narrow
          width: 20px
  &#additional_information
    width: 600px
    td
      width: 310px
      input
        width: 280px
  &#additional_information_bottom
    width: 600px
    td
      width: 600px
      input, textarea
        width: 580px
  &#feedback_info
    width: 600px
    td
      width: 600px
      input
        width: 580px
        &.check_waved
          width: 20px
      textarea
        width: 580px

/*
 * additional information section

/*
 * additional information section (bottom)

/*
 * feedback and info

.table_border
  width: 600px
  border: 1px solid #ccc
  margin: 0px 0px 20px 0px
  padding: 10px
  @include border-radius(2px)
  &:hover
    border: 1px solid #888
    @include box-shadow(0 10px 12px -6px #888)



ul
  &.bullet, &.bullet_noshadow
    list-style: none
    margin-left: -15px
  &.bullet
    ul
      list-style: none
      margin-left: -15px
    li
      a
        text-decoration: none
      margin-left: -16px
      padding: 0
      padding-left: 30px
      background-image: url(/images/bullets/bullet_stop.png)
      background-repeat: no-repeat
      background-position: 10px 0px
  &.bullet_noshadow li
    margin-left: -16px
    padding: 0
    padding-left: 30px
    background-image: url(/images/bullets/bullet_stop.png)
    background-repeat: no-repeat
    background-position: 10px 0px
  &.bullet li:hover
    margin-left: -16px
    padding: 0
    padding-left: 30px
    background-image: url(/images/bullets/bullet_stop_shadow.png)
    background-repeat: no-repeat
    background-position: 10px 0px

.list_box
  border: 1px solid #ccc
  padding: 0px 10px 10px 10px
  @include border-radius($border_radius)
  margin-bottom: 20px

.width_90
  width: 90%

.width_80
  width: 80%

.width_70
  width: 70%

.width_60
  width: 60%

.width_50
  width: 50%

.width_40
  width: 40%

.width_30
  width: 30%

.width_20
  width: 20%

.width_10
  width: 10%


input
  &#referal_submit, &.sign_up_button
    background-image: url(/images/gradientbg.png)
    border: 1px solid #bbb
    color: #414141
    margin: 1em 0
    width: auto
    cursor: pointer
    border-radius: 3px
    -moz-border-radius: 3px
    -webkit-border-radius: 3px
    padding: 5px
    font-size: 123.1%
    font-weight: bold
    color: #777
    width: 100px
    background: #f8f8f8
  &#referal_submit:hover
    border: 1px solid #5E5E5E


/*
 * referal_form

#referal_form
  label.error
    color: #CC4141
    margin-left: 10px
  input.error
    background-color: #FBEFEF
    border-radius: 3px
    -moz-border-radius: 3px
    -webkit-border-radius: 3px

#registration_form
  input.error, textarea.error
    background-color: #FBEFEF
    border-radius: 3px
    -moz-border-radius: 3px
    -webkit-border-radius: 3px
  label.error
    color: #CC4141
    font-size: 0.8em

// alumni update form
input.password-input, input.password_confirmation-input
  font: normal 1em "Signika Negative", Arial, Helvetica, sans-serif
  padding: 2px
  border: solid 1px #AAA
  width: 20em
  @include border-radius(2px)


#list_wrapper
  width: 100%
  #item
    float: left
    width: 30%
    text-align: center
    img
      margin-bottom: 10px

div#schedule
  ul li a
    color: #ddd
    text-decoration: none
  span
    &.header
      font-weight: bold
      font-size: 1.1em
    &.time
      text-decoration: none
      font-weight: normal
      margin-right: 10px
      border-bottom: none
  ul
    list-style: none
    width: 60%
    padding: 10px
    margin: 0
    li
      float: left
      display: block
    &.morning
      -moz-border-radius: 3px 6px 0 0
      -webkit-border-radius: 3px 6px 0 0
      border-radius: 3px 6px 0 0
      margin-top: 10px
    &.work
      background-image: linear-gradient(bottom, rgb(58, 68, 133) 15%, rgb(30, 33, 92) 58%, rgb(59, 64, 125) 79%)
      background-image: -o-linear-gradient(bottom, rgb(58, 68, 133) 15%, rgb(30, 33, 92) 58%, rgb(59, 64, 125) 79%)
      background-image: -moz-linear-gradient(bottom, rgb(58, 68, 133) 15%, rgb(30, 33, 92) 58%, rgb(59, 64, 125) 79%)
      background-image: -webkit-linear-gradient(bottom, rgb(58, 68, 133) 15%, rgb(30, 33, 92) 58%, rgb(59, 64, 125) 79%)
      background-image: -ms-linear-gradient(bottom, rgb(58, 68, 133) 15%, rgb(30, 33, 92) 58%, rgb(59, 64, 125) 79%)
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, rgb(58, 68, 133)), color-stop(0.58, rgb(30, 33, 92)), color-stop(0.79, rgb(59, 64, 125)))
      color: #ddd
  #index
    font-size: 0.9em
    margin-bottom: 10px
  ul
    &.all_day
      margin-top: 10px
      -webkit-border-radius: 3px
      -moz-border-radius: 3px
      border-radius: 3px
      background-image: linear-gradient(bottom, rgb(58, 68, 133) 15%, rgb(30, 33, 92) 58%, rgb(59, 64, 125) 79%)
      background-image: -o-linear-gradient(bottom, rgb(58, 68, 133) 15%, rgb(30, 33, 92) 58%, rgb(59, 64, 125) 79%)
      background-image: -moz-linear-gradient(bottom, rgb(58, 68, 133) 15%, rgb(30, 33, 92) 58%, rgb(59, 64, 125) 79%)
      background-image: -webkit-linear-gradient(bottom, rgb(58, 68, 133) 15%, rgb(30, 33, 92) 58%, rgb(59, 64, 125) 79%)
      background-image: -ms-linear-gradient(bottom, rgb(58, 68, 133) 15%, rgb(30, 33, 92) 58%, rgb(59, 64, 125) 79%)
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, rgb(58, 68, 133)), color-stop(0.58, rgb(30, 33, 92)), color-stop(0.79, rgb(59, 64, 125)))
      color: #ddd
    &.break
      color: #ddd
      font-style: oblique
      background-image: linear-gradient(bottom, rgb(119, 143, 18) 43%, rgb(155, 172, 45) 72%, rgb(186, 207, 72) 86%)
      background-image: -o-linear-gradient(bottom, rgb(119, 143, 18) 43%, rgb(155, 172, 45) 72%, rgb(186, 207, 72) 86%)
      background-image: -moz-linear-gradient(bottom, rgb(119, 143, 18) 43%, rgb(155, 172, 45) 72%, rgb(186, 207, 72) 86%)
      background-image: -webkit-linear-gradient(bottom, rgb(119, 143, 18) 43%, rgb(155, 172, 45) 72%, rgb(186, 207, 72) 86%)
      background-image: -ms-linear-gradient(bottom, rgb(119, 143, 18) 43%, rgb(155, 172, 45) 72%, rgb(186, 207, 72) 86%)
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.43, rgb(119, 143, 18)), color-stop(0.72, rgb(155, 172, 45)), color-stop(0.86, rgb(186, 207, 72)))
    &.afternoon
      background: rgba(4, 15, 143, 0.7)
      color: #fff
    &.dinner
      -moz-border-radius: 0 0 6px 6px
      -webkit-border-radius: 0 0 6px 6px
      border-radius: 0 0 6px 6px

table#practical_modules
  table
    border: none
    width: 100%
  tbody tr
    th
      padding: 4px
      font-size: 0.8em
      font-weight: bold
      border-left: 1px solid #fff
      border-right: 1px solid #ccc
      /*background: #e2e2e2;
      /* Old browsers
      /*background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #e0e0e0 100%);
      /* FF3.6+
      /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#e0e0e0));
      /* Chrome,Safari4+
      /*background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#e0e0e0 100%);
      /* Chrome10+,Safari5.1+
      /*background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#e0e0e0 100%);
      /* Opera 11.10+
      /*background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#e0e0e0 100%);
      /* IE10+
      /*background: linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#e0e0e0 100%);
      /* W3C
      /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#e0e0e0',GradientType=0 );
      /* IE6-9
      text-align: center
      border-bottom: 1px solid #ccc
    td
      padding: 4px
      font-size: 0.8em
      border-bottom: 1px solid #ccc
      &:first-child
        width: 6em
        border-right: 1px indented #ccc
        font-weight: bold
        border-right: 1px solid #ccc
    &:hover
      background: rgba(200, 200, 200, 0.1)

/*background: rgba(128,128,128,0.1);

div.course-date
  margin: 10px 0
  font-style: oblique

table#practical_modules.show tbody tr
  th, td
    padding: 8px
    font-size: 1em
    border-bottom: 1px solid #ccc

img.shadowed
  -webkit-box-shadow: 1px 1px 6px 1px #888
  -moz-box-shadow: 1px 1px 6px 1px #888
  box-shadow: 1px 1px 6px 1px #888

form
  input#referal_submit
    font-size: 1em
    font-weight: bold
  p
    input
      padding: 5px
      font-size: 1em
      font-weight: bold
      background: none repeat scroll 0 0 #F8F8F8
      border: 1px solid #BBBBBB
      border-radius: 3px 3px 3px 3px
      color: #777777
      cursor: pointer
      margin: 1em 0
      padding: 5px
      width: 100px




@import superfish.sass
