@import variables.sass
@import "compass/css3"
@import "compass/utilities"
/*** ESSENTIAL STYLES **

.sf-menu
  margin: 0
  padding: 0
  list-style: none
  *
    margin: 0
    padding: 0
    list-style: none
  ul
    position: absolute
    top: -999em
    width: 10em
    /* left offset of submenus need to match (see below)
    li
      width: 100%
  li
    &:hover
      visibility: inherit
      /* fixes IE7 'sticky bug'
    float: left
    position: relative
  a
    font-family: Arial, sans-serif
    display: block
    position: relative
  li
    &:hover ul, &.sfHover ul
      left: 0
      top: 2.38em
      /* match top ul list item height
      z-index: 99

ul.sf-menu li
  &:hover li ul, &.sfHover li ul
    top: -999em
  li
    &:hover ul, &.sfHover ul
      left: 10em
      /* match ul width
      top: 0
    &:hover li ul, &.sfHover li ul
      top: -999em
    li
      &:hover ul, &.sfHover ul
        left: 10em
        /* match ul width
        top: 0

/*** DEMO SKIN **

.sf-menu
  float: left
  #margin-bottom: 1em
  background: transparent
  a
    padding: .61em 0.5em
    text-decoration: none
    -moz-text-shadow: 0px 0px 1px #000
    -webkit-text-shadow: 0px 0px 1px #000
    -khtml-text-shadow: 0px 0px 1px #000
    text-shadow: 0px 01px 1px #000
    /* visited pseudo selector so IE6 applies text colour
    color: #fff
    display: block
    font-size: 95%
    font-weight: bold
    text-align: left
    //text-transform: uppercase
    padding-top: 6px
    padding-bottom: 4px
    &:visited
      /* visited pseudo selector so IE6 applies text colour
      color: #fff
      display: block
      font-size: 95%
      font-weight: bold
      text-align: left
      //text-transform: uppercase
      padding-top: 6px
      padding-bottom: 4px

.noup
  text-transform: none

.sf-menu
  li
    background-color: transparent
    li
      a
        text-shadow: none
        -moz-text-shadow: none
        -webkit-text-shadow: none
        border-top: 1px solid #FFF
        background-color: #fff
        color: $link_color
        text-transform: none
        &:visited
          border-top: 1px solid #FFF
          background-color: #fff
          color: $link_color
          text-transform: none
      border-top: 1px solid #ccc
      background-color: #fff
      color: #000
      li
        background-color: #fff
    &:hover, &.sfHover
      #background: #333
      outline: 0
      #background-color: #65944A
  a
    &:focus, &:hover, &:active
      #background: #333
      outline: 0
      #background-color: #65944A
    &.sf-with-ul
      padding-right: 2.25em
      min-width: 1px
      /* trigger IE7 hasLayout so spans position accurately

/*** arrows *

.sf-sub-indicator
  position: absolute
  display: block
  right: .2em
  top: .8em
  /* IE6 only
  width: 10px
  height: 10px
  text-indent: -999em
  overflow: hidden
  background: url('/images/arrows-ffffff.png') no-repeat -10px -100px
  /* 8-bit indexed alpha png. IE6 gets solid image only

a
  > .sf-sub-indicator
    /* give all except IE6 the correct values
    top: .8em
    background-position: 0 -100px
    /* use translucent arrow for modern browsers
  &:focus > .sf-sub-indicator, &:hover > .sf-sub-indicator, &:active > .sf-sub-indicator
    background-position: -10px -100px
    /* arrow hovers for modern browsers

/* apply hovers to modern browsers

li
  &:hover > a > .sf-sub-indicator, &.sfHover > a > .sf-sub-indicator
    background-position: -10px -100px
    /* arrow hovers for modern browsers

/* point right for anchors in subs

.sf-menu ul
  .sf-sub-indicator
    background-position: -10px 0
  a
    > .sf-sub-indicator
      background-position: 0 0
    &:focus > .sf-sub-indicator, &:hover > .sf-sub-indicator, &:active > .sf-sub-indicator
      background-position: -10px 0
      /* arrow hovers for modern browsers
  li
    &:hover > a > .sf-sub-indicator, &.sfHover > a > .sf-sub-indicator
      background-position: -10px 0
      /* arrow hovers for modern browsers

/* apply hovers to modern browsers

/*** shadows for all but IE6 **

.sf-shadow ul
  background: url('/images/shadow.png') no-repeat bottom right
  padding: 0 8px 9px 0
  -moz-border-radius-bottomleft: 17px
  -moz-border-radius-topright: 17px
  -webkit-border-top-right-radius: 17px
  -webkit-border-bottom-left-radius: 17px
  &.sf-shadow-off
    background: transparent
