@import url(http://fonts.googleapis.com/css?family=Signika+Negative:400,700)

.wf-loading h1, h2, h3, h4, h5
  visibility: hidden

.wf-active h1, h2, h3, h4, h5, .wf-inactive h1, h2, h3, h4, h5
  visibility: visible
  //font-family: 'Signika Negative', arial, sans-serif
  font-family: "Signika Negative", arial, sans-serif
