<div id="user_count">
	<p>Number of Accepted Students: <b><%= User.accepted_students.count %></b></p>
</div>
<table cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <%= render :partial => 'list_column_headings' %>
    </tr>
  </thead>
  <tbody class="messages">
    <tr>
      <td colspan="<%= active_scaffold_config.list.columns.length + 1 -%>" class="messages-container">
        <div id="<%= active_scaffold_messages_id -%>">
          <%= render :partial => 'messages' %>
        </div>
        <p class="filtered-message" <%= ' style="display:none;" ' unless @filtered %>>
          <%= as_(active_scaffold_config.list.filtered_message) %>
        </p>
        <p id="<%= empty_message_id %>" class="empty-message" <%= ' style="display:none;" ' unless @page.items.empty? %>>
          <%= as_(active_scaffold_config.list.no_entries_message) %>
        </p>
      </td>
    </tr>
  </tbody>
  <tbody class="records" id="<%= active_scaffold_tbody_id %>">
    <% if !@records.empty? -%>
      <%= render :partial => 'list_record', :collection => @page.items, :locals => { :hidden => false, :dont_show_calculations => true } %>
    <% end -%>
    <% if active_scaffold_config.list.columns.any? {|c| c.calculation?} -%>
      <%= render :partial => 'list_calculations' %>
    <% end -%>
  </tbody>
</table>
<div class="active-scaffold-footer">
  <div class="active-scaffold-found"><span class="active-scaffold-records"><%= @page.pager.count -%></span> <%=as_(:found, :count => @page.pager.count) %></div>
  <div class="active-scaffold-pagination">
    <%= render :partial => 'list_pagination_links', :locals => { :current_page => @page } unless @page.pager.number_of_pages < 2 %>
  </div>
  <br clear="both" /><%# a hack for the Rico Corner problem %>
</div>
