<p><%= link_to("back to users list", admin_users_path)%></p>
<dl>
  <dt>Avarage Rating:</dt>
  <dd>
   <%= ratings_for @record, :static, :remote_options => {:url => rate_admin_user_path(@record)} %>
  </dd>
	
  <dt>Your Rating:</dt>
  <dd><%= ratings_for @record, :show_user_rating => true, :remote_options => {:url => rate_admin_user_path(@record)} %>
</dd>
<% columns.each :for => @record do |column| %>
  <dt><%= column.label -%></dt>
  <dd<%= " class=\"#{column.name}-view #{column.css_class}\"" unless column.is_a? ActiveScaffold::DataStructures::ActionColumns %>>
<% if column.is_a? ActiveScaffold::DataStructures::ActionColumns -%>
    <%= render :partial => 'show_columns', :locals => {:columns => column} %>
<% else -%>
    <%= show_column_value(@record, column) -%> &nbsp;
<% end -%>
  </dd>
<% end -%>
</dl>
