<h1>User Accepted</h1>

<p><b>The user has been sucessfully activated and accepted! The confirmation email has been send out to the user.</b></p>

<table width="500">
    <tr>
        <th>User Name:</th>
        <td><%= @user.login %></td>
    </tr>
    <tr>
        <th>First Name:</th>
        <td><%= @user.first_name %></td>
    </tr>
    <tr>
        <th>Last Name:</th>
        <td><%= @user.last_name %></td>
    </tr>
    <tr>
        <th>Email Address:</th>
        <td><%= @user.email %></td>
    </tr>
</table>

<p><%= link_to 'Back to Users list', admin_users_path%></p>
