<h1>Course Documents</h1>

    <% if @documents.blank? %>
        <p>There are currently no documents available.</p>
   <% end %>

<% for document in @documents %>
    <div id="document">
    	<h3><%= link_to document.document_file_name, document.document.url(:original) %></h3>
		<div class='clear'></div>
		<p class="document_comment">
			<b>Description:</b> <br />
			<%= document.comment %>
		</p>
		<!-- <p><%= link_to 'Download this file', document.document.url(:original), :class => 'download' %></p> -->
		<div id="document_footer">
			Uploaded by <%= link_to document.user.login, user_path(document.user) %>, 
			<%= distance_of_time_in_words(document.created_at.to_time, to_time = Time.now, include_seconds = false) %> ago.
      <% if document.created_at < document.updated_at %>
        Updated: 
        <%= distance_of_time_in_words(document.updated_at.to_time, to_time = Time.now, include_seconds = false) %> ago.
      <% end %>
      <br />

 
		</div>
	</div>
	<div class="clear"></div>
<% end %>