@import url("/stylesheets/sponsors.css") all;
@import url("/stylesheets/webfont.css") all;
/*========================================================*/
/* COLOR GUIDE                                            */
/*========================================================*/
/*
dark grey #464337
light grey #a2a19b

blue link #06f

h3 yellow border #ffd735

alt blue light #e1ecff

alt blue dark #94beff

========================================================= */


/*========================================================*/
/*    Cascading Style Sheet for the Community Engine      */
/*========================================================*/

/*========================================================*/
/*                  Table of Contents                     */
/*========================================================*/
/*  1. UNIVERSAL THINGS                                   */
/*  2. HEADER                                             */
/*  3. WELCOME                                            */
/*  4. BOX and ALTBOX                                     */
/*  5. BODY                                               */
/*  6. SIDEBAR                                            */ 
/*  7. FOOTER                                             */
/*  8. COMMUNITY FOOTER                                   */
/*  9. CLEARFIX                                           */
/*  10. SORTABLES                                         */
/*  11. PAGINTATION                                       */
/*  12. CLIPPINGS                                         */
/*  13. TAG CLOUDS                                        */
/*  14. USER LIST                                         */
/*========================================================*/

span.localized {
  font-style: italic;
  color: red;
}
/* =============================================== */
/* 1. UNIVERSAL THINGS                             */
/* =============================================== */
html {
	background:url(/images/page_background.png) repeat-x;
	color:#333;
    }
body {margin-top:10px;}


h1,h2,h3,h4,h5,h6 {
    text-shadow: 1px 1px 2px #666;
    -moz-text-shadow: 1px 1px 2px #666;
    -webkit-text-shadow: 1px 1px 2px #666;
}

#doc2{
	color: #464337;
	background: #fff;
	width:970px;
}



.content{float:left;background:#fff;width:948px;border-left:1px solid #d1d6dc;border-right:1px solid #d1d6dc;padding:10px;min-height:400px;}
.contentleft{float:left;display:inline;width:700px;overflow:hidden;margin:0 10px 0 9px;}
.contentright{float:left;display:inline;width:240px;overflow:hidden;margin:0 9px 0 0;}
.box680in{background:#fff;float:left;padding:15px 10px;width:680px;}

a{color: #003469;}

a:hover{color: #003469;
text-decoration: underline;
}

p{margin: 0 0 1em 0;}

div.auto_complete {
  width: 350px;
  background: #ffffff; }
  div.auto_complete ul {
    border: 1px solid #888888;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto; }
    div.auto_complete ul li {
      margin: 0;
      padding: 3px; }
    div.auto_complete ul li.selected {
      background-color: #FFFDC0; }
.clear {
	clear: both;}
.right {
	float: right;}
.left {
	float:left;}
.centered {
	text-align:center; }
img.polaroid {
	padding:5px;
	border: 1px solid #A2A19B;
	width:100px;
	height:100px;
	}
img.polaroid_large {
    padding:5px;
    border: 1px solid #A2A19B;
}


/* =============================================== */
/* 2. HEADER                                       */
/* =============================================== */

#hd{background:#46566f url(/images/header_background.jpg) no-repeat top left;
	float:left;
	width:100%;
	min-height:155px;
	padding:0;
	border:none;
}
#hd a{text-decoration:none;}
#hd a:hover{text-decoration:underline;}
#hd h1{float: left;}

#hd h1 a{
font-size: 182%;
font-weight: bold;
text-transform: uppercase;
text-decoration: none;
display: block;
margin: 20px 0 10px 0;
color: #464337;
}

#hd h1 a:hover{text-decoration: underline;}

#hd h2{
float: right;
font-size: 138.5%;
margin-top: 25px;
}

#hd h2#newmail{
float: right;
padding-left: 20px;
margin-right: 20px;
background-color: transparent;
background-image: url(/plugin_assets/community_engine/images/icons/email_open.png);
background-repeat: no-repeat;
background-position: left center;
}

/* Navbar */


#nav{float:left;margin-top:126px;width:950px;margin-left:5px;background:transparent;}



/* =============================================== */
/* 3. WELCOME                                      */
/* =============================================== */

#welcome .box{
background: #fff1b2;
margin-top: 1em;
padding: 1em;
border-bottom: 2px solid #ffd735;
border-top: 1px solid #ffd735;
}

#welcome .box h2{
font-size: 197%;
margin-bottom:.5em;
}

#welcome .box h2 a{color: #464337;}

#welcome .box p{
font-size: 108%;}

#welcome .box h4{
background:url(/plugin_assets/community_engine/images/bg_h6btn.gif) repeat-x left center;
}

#welcome .box h4 a{
background-color: transparent;
background-image: url(/plugin_assets/community_engine/images/icons/52.png);
background-repeat: no-repeat;
background-position: .5em center;
display: block;
padding: 1em 1em 1em 3.5em;
font-size: 138.5%;
text-decoration: none;
text-transform: uppercase;
color: #384016;
font-weight: bold;
border: 1px solid #9ec500;
}

#welcome .first .box h4 a{
background-image: url(/plugin_assets/community_engine/images/icons/31.png);
}

#welcome .box h4 a:hover{
background-color: #9ec500;
}

/* =============================================== */
/* 4. BOX and ALTBOX                               */
/* =============================================== */

.box{
margin-bottom: 1em;
}

.box h2{
margin-bottom: .5em;
font-weight: bold;
font-size: 153.9%;
}

.box h3{
font-size: 123.1%;
font-weight: bold;
text-transform: none;
#border-bottom: 1px solid #ffd735;
border-bottom: 1px solid #516481;
color: #46566F;
margin:1.5em 0 1em 0;
}

.alt{
border: 1px solid #ccc;
background: #fff;
padding: 1em;
-moz-border-radius:6px;
}

.alt h3{
border: none;
margin: 0 0 .5em 0;
padding: .5em;
color: #46566F;
border-bottom: 1px solid #516481;
}

.first_alt {
	margin-top:3.25em;
	}


/* =============================================== */
/* 5. BODY                                         */
/* =============================================== */

/* blog entry */

.hentry{
margin: 0 0 1em 0;
}

.comments .hentry{
border-bottom: 1px dotted #a2a19b;
}

.comments .hentry:last-child{border: none;}

.hentry h4{
font-size: 153.9%;
font-weight: bold;
margin-bottom: 15px;}

.hentry h4 a{
text-decoration: none;
color: #464337;
}

.hentry h4 a:hover{text-decoration: underline;}

.hentry .vcard{
float: left;
width: 13.8461em; /* about 180px */
*width:  13.5em; /* for IE */
}

div.main div.vcard{
width: 9.2307em; /* about 120px */
*width:  9em; /* for IE */
}

.entry-content{
margin-left:  15.3846em; /* about 200px */
*margin-left:  15em; /* for IE */
}

div.main div.entry-content{
margin-left:  10.4769em; /* about 140px */
*margin-left:  10.5em; /* for IE */
}

.page-content, .event-content{
margin-left: 0px; /* Use formatting for blog post except for left margin */
}

.hentry .vcard h5{
float: left;
width: 66px;
}

.hentry .vcard h5 a img{
display: block;
border: 1px solid #a2a19b;
padding: 2px;
background: #fff;
}

.hentry .vcard h5 a:hover img{background: #a2a19b; }

.hentry .vcard ul{
margin-left: 66px;
font-size: 85%;
}

div.main .vcard ul{
margin-left: 0;}


.hentry .vcard ul li{
padding: 3px 0;
border-bottom: 1px dotted #a2a19b;
padding-left: 20px;
background-color: transparent;
background-position: left 3px;
background-repeat: no-repeat;
}

.hentry .vcard ul li.fn{
font-size: 130%;
font-weight: bold;
padding:0 0 3px 0;
}

.hentry .vcard ul li.update{background-image: url(/plugin_assets/community_engine/images/icons/date.png) }
.hentry .vcard ul li.view{background-image: url(/plugin_assets/community_engine/images/icons/page_white_magnify.png) }
.hentry .vcard ul li.comments{background-image: url(/plugin_assets/community_engine/images/icons/comments.png) }
.hentry .vcard ul li.msg{background-image: url(/plugin_assets/community_engine/images/icons/email_go.png) }
.hentry .vcard ul li.addfriend{background-image: url(/plugin_assets/community_engine/images/icons/user_add.png) }
.hentry .vcard ul li.print{background-image: url(/plugin_assets/community_engine/images/icons/printer.png) }
.hentry .vcard ul li.email{background-image: url(/plugin_assets/community_engine/images/icons/user_go.png) }
.hentry .vcard ul li.share{
/*	background-image: url(/plugin_assets/community_engine/images/icons/group_go.png) */
	padding-left:0;
	}
.hentry .vcard ul li.tags{background-image: url(/plugin_assets/community_engine/images/icons/tag_blue.png) }
.hentry .vcard ul li.skills{background-image: url(/plugin_assets/community_engine/images/icons/wrench.png) }
.hentry .vcard ul li.geo{background-image: url(/plugin_assets/community_engine/images/icons/world.png) }
.hentry .vcard ul li.edit{background-image: url(/plugin_assets/community_engine/images/icons/post.png) }
.hentry .vcard ul li.delete{background-image: url(/plugin_assets/community_engine/images/icons/delete.png) }

.entry-content h6{
border-bottom: 1px dotted #a2a19b;
border-top: 1px dotted #a2a19b;
text-align: right;
padding:2px 0;
}

.entry-content h6 a{
font-size: 85%;
font-weight: bold;
text-transform: uppercase;
text-decoration: none;
background: transparent url(/plugin_assets/community_engine/images/icons/add.png) no-repeat left center;
padding-left: 20px;
padding: 2px 2px 2px 20px;
}

.entry-content h6 a:hover{text-decoration: underline;}


/* brings back styles for entry elements */
.entry-content blockquote, .entry-content ul, .entry-content ol {margin:1em;}
.entry-content ol, .entry-content ul{margin-left:2em;}
.entry-content ol li {list-style: decimal outside;}
.entry-content ul li {list-style: disc outside;}
.entry-content strong{font-weight: bold;}
.entry-content em, .entry-content blockquote{font-style:italic;}
.entry-content blockquote{font-family:Georgia, Times, serif;}

.hentry .tags{margin-left: 0;}

.hentry .tags li{
list-style: none;
float: left;}

.hentry .tags li a{
background: red;
display: block;
margin: 0 10px 5px 0;
padding: 2px 0 2px 15px;
background: url(/plugin_assets/community_engine/images/icons/tag_blue.png) no-repeat left center;
}




/* =============================================== */
/* 6. SIDEBAR                                      */
/* =============================================== */

.list{
}

.list li{
padding:3px 0;
border-bottom: 1px dotted #a2a19b;
}

.checks li, .page li{
padding-left: 20px;
background-color: transparent;
background-image: url(/plugin_assets/community_engine/images/icons/accept.png);
background-repeat: no-repeat;
background-position: left center;
}

.checks li{background-image: url(/plugin_assets/community_engine/images/icons/accept.png)}
.page li{background-image:url(/plugin_assets/community_engine/images/icons/page_white.png)}

/* user list */
dl.vcard{
margin-bottom: 1em;
}

dl.vcard dt.photo{
float: left;
width: 66px;
margin: 0;
}

dl.vcard dt.photo a img{
display: block;
padding: 2px;
border: 1px solid #a2a19b;
background: #fff;
}

dl.vcard dt.photo a:hover img{background: #a2a19b;}

dl.vcard dd{
margin-left: 66px;
}

dl.vcard dd.fn a{
font-size: 108%;
font-weight: bold;
}

dl.vcard dd.member, dl.vcard dd.post, dl.vcard dd.rss{
padding: 2px 0 2px 20px;
border-top: 1px dotted #a2a19b;
background-position: left center;
background-repeat: no-repeat;
background-color: transparent;
}

dl.vcard dd.member{background-image: url(/plugin_assets/community_engine/images/icons/user.png);}
dl.vcard dd.post{background-image: url(/plugin_assets/community_engine/images/icons/page_white.png);}
dl.vcard dd.rss{background-image: url(/plugin_assets/community_engine/images/icons/rss.png);}

h6.all{margin:.5em 0;}

h6.all a{
font-size: 85%;
font-weight: bold;
text-transform: uppercase;
background: transparent url(/plugin_assets/community_engine/images/icons/add.png) no-repeat left center;
padding:3px 0 3px 20px;
color: #003469;
}


/* Main Form ========================= */

.MainForm{
}

.MainForm label{
display: block;
margin: 1em 0 2px 0;
}

.MainForm label em{
font-style: italic;
font-family: Georgia, Times, serif;
color: #777;
}

.MainForm select{
border:1px solid #ccc;
}


.MainForm input, .MainForm textarea{
border: 1px solid #ccc;
padding: 5px;
font-size: 123.1%;
font-weight: bold;
color: #777;
width: 250px;
background: #f8f8f8;
}

.MainForm input:focus, .MainForm textarea:focus{
color: #777;
border-color: #777;
background: #fff;
}

.MainForm input.wrong, .MainForm .fieldWithErrors input {
border-color: #f00;
color: #f00;
background: #ffd5d5;
}

/* submit */
.MainForm p input, .MainForm p button {
background-image:url(/images/gradientbg.png);
border: 1px solid #bbb;
color: #414141;
margin: 1em 0;
width: auto;
cursor: pointer;
   border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

.MainForm p input:hover{
border:1px solid #5E5E5E;
} 


.MainForm strong{color: #f00;}

.MainForm strong.ok{color: #008000;}

.MainForm strong em{
text-decoration: underline;
font-weight: bold;}


.MainForm textarea{
width: 550px;
color: #777;
}


/* checks */

.MainForm fieldset {margin: 1em 0 0 0;}

.MainForm fieldset label{
margin: 4px 0;
color: #777;
}

.MainForm fieldset input{
border: none;
width: auto;
}

.MainForm fieldset.inline label{
display: inline;
margin-right: 1em;
}

.warning, #errorExplanation, .errorExplanation{
  padding: 1em 1em 1em 1em;
  margin: 1em 0;
  background-color: #FCC;
  border: solid 1px #C66;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
  color: #6b5e2b;
	width:600px;
}

.notice{
  padding: 1em 1em 1em 1em;
  margin: 1em 0;
  color: #4C4F46;
	background:#A8D88D; 
  border:1px solid #82A86E;
  border-radius:6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  width:600px;
}



/* =============================================== */
/* 7. FOOTER                                       */
/* =============================================== */
#ft{
background: #f1f1f1;
padding-bottom: 1em;
border-top: 1px solid #ccc;
padding:0 10px 0 10px;
}

#ft .yui-u .box{margin:0 1em 0 0;}

#ft .first .box{margin:0 0 0 1em;}

#ft .yui-u .box h3{
color: #666;
border-color: #666;
}

/* whats fresh */

.fresh dl{
clear: both;
border-bottom: 1px dotted #ccc;
padding: 3px 0;
}

.fresh dt{
float: left;
width: 10.8461em; /* about 180px - 3em */
*width:  10.5em; /* for IE */
}

.fresh dd{
margin-left:  12.3846em; /* about 200px - 3em*/
*margin-left:  12em; /* about 200px */
}

.fresh dt {
	padding-left: 20px;
	background-image: url(/plugin_assets/community_engine/images/icons/activity_default.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-color: transparent;	
}

.fresh .comment dt {background-image: url(/plugin_assets/community_engine/images/icons/comment.png);}
.fresh .photo dt {background-image: url(/plugin_assets/community_engine/images/icons/picture.png);}
.fresh .clipping dt {background-image: url(/plugin_assets/community_engine/images/icons/book.png);}
.fresh .updated_profile dt {background-image: url(/plugin_assets/community_engine/images/icons/user_edit.png);}
.fresh .favorite dt {background-image: url(/plugin_assets/community_engine/images/icons/heart_add.png);}
.fresh .post dt, .fresh .sb_post dt, .fresh .topic dt{background-image: url(/plugin_assets/community_engine/images/icons/post.png);}
.fresh .rsvp dt, .fresh .event dt {background-image: url(/plugin_assets/community_engine/images/icons/date.png);}

/* =============================================== */
/* 8. COMMUNITY FOOTER                             */
/* =============================================== */

#CommunityFooter{
margin: 0px 0px 0px 0px;
font-size: 85%;
padding: 20px 20px 0px 20px;
background:#F1F1F1;
}

#CommunityFooter ul, #CommunityFooter ul li{float: left;}

#CommunityFooter li a{
padding: 2px 10px;
display: block;
border-left: 1px solid #ccc;
}

#CommunityFooter li#rss a{
color: #fff;
background: orange;
text-decoration: none;
}


#CommunityFooter li:first-child a{
border: none;
padding-left: 0;
}


#CommunityFooter p{
float: right;
padding: 2px 0 2px 120px;
#background: #f1f1f1 url(/plugin_assets/community_engine/images/logo.gif) no-repeat left center;
}

/* =============================================== */
/* 9. CLEARFIX                                     */
/* =============================================== */

#NavBar:after, .hentry:after, .box:after, dl.vcard:after, .fresh dl:after, #CommunityFooter:after, .hentry .tags:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

* html #NavBar, * html .hentry, * html .box, * html dl.vcard, * html .fresh dl, * html #CommunityFooter, * html .hentry .tags {display: inline-table;}

/* Hides from IE-mac \*/
#NavBar, .hentry, .box, dl.vcard, .fresh dl, #CommunityFooter, .hentry .tags {height: 1%;}
#NavBar, .hentry, .box, dl.vcard, .fresh dl, #CommunityFooter, .hentry .tags {display: block;}
/* End hide from IE-mac */



/* SORTABLES */
ul.sortable {
	list-style:none;
	border:1px solid #ccc;
	min-height:20px;
	line-height:1.5em;
	padding:0;
	}
	ul.sortable li {
		cursor: move;		
	}

ul.sortable_hover {
	border:1px dashed #328E01;
	background:#efefef;
	}

ul#skills {
	width:250px;
	height:200px;
	overflow:auto;
	}
	ul#skills li {
		background:#ffffff;
		margin:.5em;
		padding:.5em;
		border:1px solid #cccccc;
		}

ul#users_skills {
	width:250px;
	background:#eee;
	overflow:hidden;	
	}		
	ul#users_skills li {
		background:#ffffff;
		margin:.5em;
		padding:.5em;
		border:1px solid #cccccc;
		}	
.handle {
	cursor:move;
}


/*	PAGINATION	*/
div.pagination {
	margin: 10px;
	clear:both;
	}
	div.pagination div.pagination_info {
		float:right;
		}
div.pagination a {
	margin-right:0.3em;
	padding:0.4em;	
	}
	div.pagination a:hover {
		background:#828282;
		color:#ffffff;
		margin-right:0.3em;
		padding:0.4em;	
		}
div.pagination a.active {
		background:#828282;
		border:none;
		color:#ffffff;		
	}

/* CLIPPINGS */
.clippings_grid {
  background: #fff; }
  .clippings_grid .row .clipping {
    border: 1px solid #ccc;
    padding: 10px 15px 20px 15px;
    margin: 10px 20px 20px 20px;
    width: 200px;
    float: left; }
    .clippings_grid .row .clipping img.clipping_image {
      width: 200px; }
    .clippings_grid .row .clipping p {
      font-size: 85%;
      margin-top: 10px; }


/* Tag Clouds */
.nube1 {
  font-size: 1.0em; }

.nube2 {
  font-size: 1.3em; }

.nube3 {
  font-size: 1.4em; }

.nube4 {
  font-size: 1.5em; }

.nube5 {
  font-size: 1.6em; }

.nube6 {
  font-size: 1.8em; }

.selected {
  color: #268999; }

/* USER LIST */
div.user_list .row {
	border: 1px solid #ccc;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  box-shadow: 1px 1px 8px #888;
  -moz-box-shadow: 1px 1px 8px #888;
  -webkit-box-shadow: 1px 1px 8px #888;
	margin:1em 0 1em 0;
	margin-bottom:1.5em;
	padding:0.8em 0.5em;
}
	div.user_list .row h3 {
		}
div.user_list div.vcard {
	width: 100%;}
	div.user_list div.vcard ul {
	margin-left: 0;
	font-size: 85%;
	}
		
		
/*PHOTOS & CLIPPINGS*/
#photos img.polaroid, #clippings img.polaroid {
	margin: 0 12px 15px 0;
	}
	
/*USER PROFILE SIDEBAR*/
#profile_details div.vcard{
	width: 100%;}
	#profile_details .vcard ul{
		margin-left: 0px;}

#profile_details img {
	margin-top:10px;
}

/* CATEGORY PAGES */
.box h3 ul.subnav {
	display:inline;
	font-size: .7em;
	font-weight:normal;
	text-transform:none;
	margin:0 0 0 10px;
	}
	ul.subnav li {
		display:inline;}
		ul.subnav li a.active {
			color:#000;
			text-decoration:none;}


/*SWF UPLOAD*/
.progressWrapper {
	width: 357px;
	overflow: hidden;
}
.progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}
.progressContainer .red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}
.progressContainer .green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}
.progressContainer .blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}
.progressName {
	font-size: 8pt;
	font-weight: bold;
	color: #555555;	
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}
.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0px;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}
.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}
.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}
.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Verdana;
	text-align: left;
	white-space: nowrap;
}
div.uploadStatus {
  margin: 5px;
}
div.progressBar {
  margin: 5px;
}
div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}
div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

.mceEditor .left {
	float:none;
}
.mceEditor table {
  margin: 0; }
  .mceEditor table th {
    padding: 0;
    margin: 0;
    border: inherit;
    font-weight: normal; }
  .mceEditor table td {
    padding: 0;
    margin: 0;
    border: inherit; }
  .mceEditor table tfoot {
    font-style: inherit; }
  .mceEditor table caption {
    background: none; }
  .mceEditor table img {
    margin: 0 0 0; }


/* TABLES */
table th {
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	}
table td {
	padding: 5px;
	}
			
			
/* MESSAGES */
ul.message_nav li {
	background-position: left;
	background-repeat: no-repeat;
	padding-left:20px;
}
ul.message_nav li.inbox_new {background-image: url(/plugin_assets/community_engine/images/icons/email_open.png);}
ul.message_nav li.inbox {background-image: url(/plugin_assets/community_engine/images/icons/email.png);}
ul.message_nav li.sent {background-image: url(/plugin_assets/community_engine/images/icons/email_go.png);}
li.compose {background-image: url(/plugin_assets/community_engine/images/icons/email_edit.png);}
.messages .photo a img{
	float: left;
	display: block;
	padding: 2px;
	border: 1px solid #a2a19b;
	background: #fff;
	}
table.messages tbody td {
	border-bottom: 1px solid #ccc;
}
.messages .photo a:hover img{background: #a2a19b;}
.messages em {
	font-style: italic;
	font-family: Georgia, Times, serif;
	color: #777;
	}	
.messages td.meta {
	font-size: 85%;
	text-align: right;
	}
pre.message_body {
	padding: 10px;
	border: 1px solid #ccc;
	background: #efefef;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
	

table.poll {
  width: 100%;
  margin-bottom: 3em; }
  table.poll td {
    border-bottom: none; }
    table.poll td .vote {
      display: block;
      float: left;
      background: url(/plugin_assets/community_engine/images/icons/vote.png) no-repeat left;
      padding: 0 10px 0 20px;
      height: 20px;
      margin-right: 10px;
      border-right: 1px solid #ccc; }
  table.poll td.bars {
    width: 50%; }
    table.poll td.bars div.bar-container {
      border: 1px solid #ccc;
      width: 90%;
      margin: 0px 5px 2px 0;
      padding: 1px;
      float: left;
      background: white;
      height: 1em; }
    table.poll td.bars div.bar-container .bar {
      background-color: #cfe1f1;
      height: 12px;
      font-size: 10px;
      text-align: right;
      padding-right: 2px; }

/* User Menu Dropdown*/
#user-menu {
	padding-right: 15px;
	background: url(/plugin_assets/community_engine/images/icons/bullet_arrow_down_50.png) no-repeat right;
	}
#user-menu:hover {
	background: url(/plugin_assets/community_engine/images/icons/bullet_arrow_down.png) no-repeat right;	
}

.icon_row a {
   margin-right:5px;
}
.icon_row a img {
   border:0;
   vertical-align:middle;
}

.header_border_left {
    font-weight:bolder;
    font-size:110%;
    color:#000;
    vertical-align:top;
}


#site_search    {position:relative;float:right;margin:0px 10px 0px 0px;}


