%h1 Course Speakers
#instructor_nav
  %p
    - if @speakers.blank?
      %p Currently no speakers available
    - else
      = @speakers.collect { |s| link_to s.full_name, "##{s.last_name}" }.join(" | ")
%p
  %br/
- for speaker in @speakers
  #instructor.speaker_box.effect1
    %p
      %a{:name => speaker.last_name}
    #instructor_content
      %h3= h speaker.first_name + " " + speaker.last_name
      %p= speaker.organisation + " | " + speaker.city + ", " + speaker.country
      - unless speaker.webpage.blank?
        %p
          = image_tag 'icons/link.png', :class => 'vertical_middle'
          = link_to "Lab webpage", speaker.webpage, :target => 'top'
