%p
  #instructor
    %p
      %a{:name => @speaker.last_name}
    #instructor_content
      %h3= h @speaker.first_name + " " + @speaker.last_name
      %p= @speaker.organisation + " | " + @speaker.city + ", " + @speaker.country
      - unless @speaker.webpage.blank?
        %p= link_to "Lab webpage", @speaker.webpage, :target => 'top'
  - if admin?
    = link_to 'Edit', edit_admin_instructor_path(@speaker)
    |
  = link_to 'Back', speakers_path
