<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="keywords" content="microscopy, synbio, cell biology, CSIR, students" />
  <meta name="description" content="A practical course on innovative microscopy to understand fundamental 
biology." />

  <title>Innovative Microscopy to Understand Fundamental Biology <%= yield(:title) %> </title>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery-min', 'autoresize.jquery', 'jquery-ui', 'hoverIntent', 'superfish', 'supersubs'%>
  <%= javascript_include_tiny_mce_if_used %>
  <%= tiny_mce if using_tiny_mce? %> 
	<%= stylesheet_link_tag '/stylesheets/screen.css' %>
	<%= active_scaffold_includes %>
  <%= stylesheet_link_tag '/stylesheets/active_scaffold_overrides' %>


  <link rel="shortcut icon" href="/favicon.ico" />
  <script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Cantarell:bold']
      }
    });
  </script>	
  <%= ajaxful_rating_style %>
</head>
<body>
<p><a name="top"></a></p>
<div id="main">
    <div id="header">
        <%= render 'shared/nav' %>
    </div><!-- header -->
    
    <div class="content">
   

    
      <div class="box2">
        <div class="boxevaluation">

        <%= yield %>
        </div>
        <!--box680in -->
      </div>
      <!--box2 -->
    
    
  </div>
  <!-- content -->
  
  <%= render 'shared/sponsors' %>
    
</div>
<!-- main -->
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-8259354-2");
    pageTracker._trackPageview();
    } catch(err) {}
</script>
</body><!-- InstanceEnd --></html>
