<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <meta name="keywords" content="microscopy, synbio, cell biology, CSIR, students"/>
  <meta name="description" content="A practical course on innovative microscopy to understand fundamental 
biology."/>

  <title>Innovative Microscopy to Understand Fundamental Biology 2013 <%= yield(:title) %> </title>
  <%= javascript_include_tag :defaults, 'jquery-min', 'cross-slide', 'hoverIntent', 'superfish', 'supersubs' %>
  <%= javascript_include_tiny_mce_if_used %>
  <%= tiny_mce if using_tiny_mce? %>
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="/favicon.ico"/>
  <%= yield :head %>
  <script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>

</head>
<body>
<p><a name="top"></a></p>

<div id="main">
  <div id="header">
    <%= render 'shared/nav' %>
  </div>
  <!-- header -->

  <div class="content">


    <div class="contentleft">
      <div class="box2">
        <% if params[:controller] == 'homes' %>
            <div class="box680in_home">
        <% else %>
            <div class="box680in">
        <% end %>

        <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>


        <%= yield %>
        </div><!--box680in -->
        </div><!--box2 -->
      </div>
      <!--contentleft -->

      <div class="contentright">
        <div class="box2">
          <div class="boxwhiteright">
            <p>
              <% unless logged_in? %>
                <ul class="bullet">
                  <li><%= link_to 'Login', login_path %></li>
                  <li><%= link_to 'Register', signup_path %></li>
                  <p></p>
                  <li><%= mail_to "#{APP_CONFIG['return_email_address']}", "Feedback" %></li>
                  <li><%= link_to('Archived Course Pages', :controller => 'last_course', :action => :index) %></li>

                </ul>

            <% else %>
                <strong>Hi, <%= current_user.first_name %></strong>
                <ul class="bullet">
                  <li><%= link_to 'Logout', logout_path %></li>
                  <p></p>
                  <li><a href="mailto:microscopy.synbio@gmail.com">Feedback</a></li>
                  <li><%= link_to('Archived Course Pages', :controller => 'last_course', :action => :index) %></li>
                </ul>
            <% end %>


          </div>
          <!-- boxwhite -->
        </div>
        <!-- box2 -->

        <% if params[:controller] != 'programs' %>
            <p></p>

            <div class="box2">
              <div class="boxwhiteright">
                <div id="side_poster">

                      <%= link_to image_tag('/system/schedules/2013_course_schedule_practical.png', :class => 'image_drop_shadow front_schedule'), programs_path %></a>

                  <p id="poster_link"><%= link_to 'Download the Course Schedules', programs_path %></p>
                </div>

              </div>
            </div>


        <% end %>

        <p></p>
        <% if params[:controller] != 'venues' %>
            <% if params[:controller] != 'course_signups' %>
                <div class="box2">
                  <div class="boxwhiteright">
                    <p><%= render :partial => 'shared/sidebar3' %></p>
                  </div>
                  <!-- boxwhiteright -->
                </div>
                <!-- box2 -->
            <% end %>
        <% end %>


      </div>
      <!-- contentright -->


    </div>
    <!-- content -->

    <%= render 'shared/sponsors' %>
    <div class="clear"></div>
  </div>

  <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
      try {
          var pageTracker = _gat._getTracker("UA-8259354-2");
          pageTracker._trackPageview();
      } catch (err) {
      }
  </script>
</body>
</html>
