- user = friendship.friend

.yui-gf.row
  .yui-u.first.centered= image_tag( user.avatar_photo_url(:thumb), :class => "polaroid" )
  .yui-g
    .yui-u.first
      %h2= link_to user.full_name, user_path(user)
      = "#{:from.l} #{user.location}<br/>" if user.metro_area      
      %p= friendship.friendship_status.name.l
      %p
        =:requested.l
        = friendship.created_at.strftime("%Y/%m/%d")

    .yui-u= friendship_control_links(friendship) if @is_current_user
